:host
  padding: 0.5rem
  display: flex
:host.requirement--object
  background-color: #DEBE8D
:host.requirement--character
  background-color: #B7E0E9
:host.requirement--condition
  background-color: #A7E1A2

input
  height: 2rem
  line-height: 2rem
  padding-left: 1rem
input[type="number"]
  width: 2rem
