<div #node class="node" [class.disabled]="disabled">
  @if (data.image) {
  <img class="node__image" [src]="
        'https://lsemostpqoguehpsbzgu.supabase.co/storage/v1/object/public/images/' +
        data.image.path
      " />
  }
  <div class="node__text">
    @if (data.text && !data.toAnswer) {
    <p #textContainer class="nodetext">
      {{ writeSpeed === 'immediate' ? data.text : '' }}
    </p>
    }
    @if (data.answers && data.answers.length > 0 && showAnswers) {
    @if (disabled) {
    <div class="answers">
      @for (answer of data.answers; track $index) {
      <button>{{ answer.text }}</button>
      }
    </div>
    } @else {
    <div @showAnswers class="answers">
      @for (answer of data.answers; track $index) {
      <button (click)="!disabled && markAsSelected($event)" (click)="!disabled && onSelectAnswer.emit(answer)">
        {{ answer.text }}
      </button>
      }
    </div>
    }
    }
    @if (showAnswers) {
    @if(data.type==='text'){
    <input type="text" name="userText" [(ngModel)]="userText" />
    <button (click)="continue(userText)">Continue</button>
    }
    <div class="endNodeExtras">
      @for (link of data.links; track $index) {
      <button (click)="onGoToLink.emit(link.url)">
        {{ link.name }}
        <img src="/assets/icons/open-external.svg" alt="Open external icon" />
      </button>
      }
      @if (data.type === 'end' && activeStory.storyConfiguration().sharing) {
      <button class="sharebutton" (click)="onShare.emit(data.share.sharedText || data.text)">
        {{ data.share?.shareButtonText || 'Share this story' }}
        <img src="/assets/icons/share.svg" alt="Share icon" />
      </button>
      }
    </div>
    }
  </div>
</div>
