<span #requirementContainer (click)="openOptions()" class="options"></span>
<div *ngIf="optionsOpened" class="options__list">
  <li (click)="manageRequirements()" class="requirements">Add requirement</li>
  <li (click)="manageEvents()" class="events"></li>
  <li (click)="removeAnswer()" class="remove">Remove answer</li>
</div>
<textarea (change)="saveAnswerText($event)">{{ text }}</textarea>
<div
  (click)="willJoin()"
  id="{{ this.elementRef.nativeElement.id + '_join' }}"
  class="union_point"
></div>
