<polo-modal-window mode="dialog" [name]="'dashboard.share.title' | t">
  <ng-container modal-header></ng-container>
  <ng-container modal-content>
    <div class="content">
      <div class="linkContainer">
        <p class="txt-weight-bold">{{ 'dashboard.share.private' | t }}</p>
        <div class="linkBox">
          <p>{{ environment.baseRoute }}/private/{{ activeStory.storyId() }}</p>
          <polo-basic-button
            [text]="(copiedLinks.private ? 'common.copied' : 'common.copy') | t"
            icon="/assets/icons/copy.svg"
            (click)="copyLink('private')"
          ></polo-basic-button>
        </div>
        <p class="txt-ralewayItalic">{{ 'dashboard.share.privateNote' | t }}</p>
      </div>
      <div class="linkContainer">
        @if(activeStory.storyConfiguration().customId){
        <p class="txt-weight-bold">{{ 'dashboard.share.custom' | t }}</p>
        <div class="linkBox">
          <p>
            {{ environment.baseRoute }}/{{
              activeStory.storyConfiguration().customId
            }}
          </p>
          <polo-basic-button
            [text]="(copiedLinks.custom ? 'common.copied' : 'common.copy') | t"
            icon="/assets/icons/copy.svg"
            (click)="copyLink('custom')"
          ></polo-basic-button>
          <!--polo-basic-button
        (click)="cleanCustomId()"
        text="Remove link"
      ></polo-basic-button-->
        </div>
        }@else {
        <p>{{ 'dashboard.share.beautify' | t }}</p>
        <input
          [class.alert]="takenCustomId"
          (change)="updateCustomId($event)"
          type="text"
        />
        <p></p>
        @if (takenCustomId) {
        <p>{{ 'dashboard.share.idTaken' | t }}</p>
        } }
        <p class="txt-ralewayItalic">{{ 'dashboard.share.customNote' | t }}</p>
      </div>
    </div>
  </ng-container>
</polo-modal-window>
