<div class="game" [class]="customStyles">
  @for (node of nodes; track $index) {
    <div
      class="node"
      [class.disabled]="node.disabled"
      [class.hidden]="node.hidden"
      [class.enabling]="node.enabling"
    >
      @if (node.image) {
        <img
          [src]="
            'https://lsemostpqoguehpsbzgu.supabase.co/storage/v1/object/public/images/' +
            node.image.path
          "
        />
      }
      <p class="nodetext">
        {{ getTextWithFinalParameters(node.text) }}
      </p>
      <div class="answers">
        @for (answer of node.answers; track $index) {
          <button
            [attr.data-order]="$index"
            [class.unique]="!node.answers[1]"
            [disabled]="
              !playerHasAnswerRequirements(
                playerService.player(),
                answer.requirements
              )
            "
            (click)="markAsSelected($event)"
            (click)="registerAnswer(answer)"
            (click)="applyEvents(answer.events)"
            (click)="nextStep(answer.join)"
          >
            {{ getTextWithFinalParameters(answer.text) }}
          </button>
        }
        @for (link of node.links; track $index) {
          <button (click)="registerLink(link.url)">
            {{ link.name }}
          </button>
        }
        @if (node.type === 'end') {
          <button class="sharebutton" (click)="openShareContext()">
            {{ node.share.shareButtonText }}
          </button>
        }
      </div>
    </div>
  }
</div>
