.gameContainer
  overflow: auto
  max-height: 100%

.game
  overscroll-behavior: contain
  max-width: 600px
  margin: auto
  display: flex
  flex-direction: column
  margin-bottom: 2rem
  &--cumulative
    margin-bottom: 100%
