<div #game class="gameContainer">
  <div class="game" [class]="customStyles">
    @if (mode === 'cumulative') {
      @for (inactiveNode of inactiveNodes; track inactiveNode.id) {
        <polo-game-node
          [data]="inactiveNode"
          [disabled]="true"
        ></polo-game-node>
      }
    }
    @if (activeNode) {
      @if (mode === 'single') {
        <polo-game-node
          #node
          @insertNode
          @removeNode
          [data]="activeNode"
          (onSelectAnswer)="selectAnswer($event)"
          (onShare)="openShareContext($event)"
          (onGoToLink)="registerLink($event)"
        ></polo-game-node>
      } @else {
        <polo-game-node
          #node
          @insertNode
          [data]="activeNode"
          (onSelectAnswer)="selectAnswer($event)"
          (onShare)="openShareContext($event)"
          (onGoToLink)="registerLink($event)"
        ></polo-game-node>
      }
    }
  </div>
</div>
