<div class="loginBox">
  <div class="box">
    <h3>Reset your password</h3>
    <p>
      Enter you user account's verified email address and we will send you a
      password reset link
    </p>
    <form>
      <label>
        <p>Your email address</p>
        <input id="email_address" type="text" [formControl]="email_address" />
      </label>
      <p>{{ feedback }}</p>
      <polo-basic-button
        (click)="resetPasswordFor($event, email_address)"
        [disabled]="email_address.invalid"
        text="Send password reset email"
      >
      </polo-basic-button>
    </form>
  </div>
</div>
