<div class="loginBox">
  <div class="box">
    <div class="header">
      <p class="logo">Trama</p>
      <h3>{{ 'login.reset.title' | t }}</h3>
    </div>
    <p>{{ 'login.reset.description' | t }}</p>
    <form>
      <label>
        <p>{{ 'login.reset.email' | t }}</p>
        <input id="email_address" type="text" [formControl]="email_address" />
      </label>
      <p>{{ feedback ? (feedback | t) : '' }}</p>
      <polo-basic-button
        (click)="resetPasswordFor($event, email_address)"
        [disabled]="email_address.invalid"
        [text]="'login.reset.submit' | t"
      >
      </polo-basic-button>
    </form>
  </div>
</div>
