<div class="legend">
  @if(showLegend){
  <div class="legend__content">
    <div class="legend__content__title">
      <polo-basic-button
        (click)="toggleLegend()"
        [icon]="
          showLegend
            ? '/assets/icons/chevron-down.svg'
            : '/assets/icons/chevron-up.svg'
        "
        [title]="'dashboard.legend.toggle' | t"
      ></polo-basic-button>
      <p>
        {{ 'dashboard.legend.title' | t }}
        <polo-context-help topic="board.references"></polo-context-help>
      </p>
      <div class="legend__content__title__buttons">
        <polo-basic-button
          (click)="mode = 'refs'"
          [selected]="mode === 'refs'"
          icon="/assets/icons/tag.svg"
          [text]="'dashboard.legend.stats' | t"
          [title]="'dashboard.legend.statsTitle' | t"
        ></polo-basic-button>
        @if (db.userPlanIs('pro')) {
        <polo-basic-button
          (click)="mode = 'games'"
          [selected]="mode === 'games'"
          [text]="'dashboard.legend.activity' | t"
          icon="/assets/icons/user-info.svg"
          [title]="'dashboard.legend.activityTitle' | t"
        ></polo-basic-button>
        }
      </div>
    </div>
    @if (mode === 'refs' && showLegend) {
    <div class="legend__content__refs">
      @for (ref of arrayOfRefs; track $index) {
      <div
        class="tag"
        (mouseover)="focusNodesWith(ref.id)"
        (mouseleave)="blurNodesWith(ref.id)"
      >
        <span class="tag__type tag__type--{{ ref.type }}"></span>

        <div class="tag__names">
          <polo-editable-name
            [label]="'dashboard.legend.refName' | t: { type: refTypeName(ref.type), id: ref.id }"
            [value]="ref.name"
            (valueChanged)="updateRefName($event, ref.id)"
          ></polo-editable-name>
          <p class="tag__names__id">{{ ref.id }}</p>
        </div>
        <p class="tag__times">
          {{ 'dashboard.legend.usedBefore' | t }} <span>{{ ref.times }}</span>
          {{ 'dashboard.legend.usedAfter' | t }}
        </p>
        <polo-basic-button
          class="tag__category"
          [class.tag__category--empty]="!ref.category"
          (click)="openSelectorFor($event, ref.id)"
          [text]="ref.category || ('dashboard.legend.addCategory' | t)"
        >
        </polo-basic-button>
      </div>
      } @for (ref of unusedRefs; track $index) {
      <div class="tag">
        <span class="tag__type tag__type--{{ ref.type }}"></span>
        <div class="tag__names">
          <polo-editable-name
            [label]="'dashboard.legend.refName' | t: { type: refTypeName(ref.type), id: ref.id }"
            [value]="ref.name"
            (valueChanged)="updateRefName($event, ref.id)"
          ></polo-editable-name>
          <p class="tag__names__id">{{ ref.id }}</p>
        </div>
        <span class="tag__delete" (click)="deleteRef(ref.id)"></span>
      </div>
      }
    </div>
    } @else if (mode === 'games' && showLegend) {
    <div class="legend__content__stadistics">
      <polo-stadistics-layer></polo-stadistics-layer>
    </div>
    }
  </div>
  }
  <div class="legend__header">
    @if(!showLegend){
    <polo-basic-button
      (click)="toggleLegend()"
      [icon]="
        showLegend
          ? '/assets/icons/chevron-down.svg'
          : '/assets/icons/chevron-up.svg'
      "
      [title]="'dashboard.legend.toggle' | t"
    ></polo-basic-button>
    <p>
      {{ 'dashboard.legend.title' | t }}
      <polo-context-help topic="board.references"></polo-context-help>
    </p>
    }
    <div class="legend__header__buttons">
      <polo-basic-button
        (click)="linearRequested.emit()"
        [text]="'dashboard.legend.preview' | t"
      ></polo-basic-button>
      <polo-basic-button
        (click)="openShareModal()"
        [text]="'dashboard.legend.share' | t"
      ></polo-basic-button>
    </div>
  </div>
</div>
