:host
  --transition: cubic-bezier(0.000, 1.000, 0.950, 0.995)
  display: block
  background-color: rgb(176 223 255)
h1
  font-size: 3rem
p
  font-size: 1.3rem
  line-height: 1.8
a
  text-decoration: none
  color: black
.flowsWordDetail
  text-decoration: underline
  text-decoration-color: var(--accent)
  text-underline-offset: 0.2em
svg
  position: absolute
  max-width: 1000px
  transform: translateX(-50%)
  left: 50%
  width: 100%
  color: var(--accent)
  &.line--leftToRight
    top: 1300px
  &.line--rightToLeft
    top: 520px

menu
  display: flex
  gap: 2rem
  align-items: center
  padding: 0 20px
  z-index: 2
  .logo
    font-size: 2.5rem
    font-weight: 900
    margin: 0
  .login
    margin-left: auto
  .links
    display: flex
    gap: 2rem
    margin-left: 2rem
.text
  display: flex
  flex-direction: column
  gap: 1.5rem
  z-index: 1
  max-width: calc(100% - 560px)
  &--right
    max-width: calc(100% - 250px)
    h1
      text-wrap: unset
  h1
    text-wrap: nowrap
.actions
  display: flex
  gap: 1rem
  flex-wrap: wrap

section
  max-width: 1000px
  margin: auto
  position: relative
  display: flex
  padding: 100px 50px
  gap: 1rem
  justify-content: space-between
  &.section--editor
    height: 500px
  &.section--mobile
    .mobile
      transform-style: preserve-3d
      perspective: 1000px
      &:hover
        .mobile__screen
          transform: rotateY(0deg) rotateX(0deg)
        .mobile__back
          transform: rotateY(0deg) rotateX(0deg)
      &__screen
        transform: rotateY(22deg) rotateX(8deg)
        transition: transform 0.5s var(--transition)
        border: 5px solid var(--accent)
        height: 500px
        width: 280px
        border-radius: 20px
        background-color: white
        isolation: isolate
        &__camera
          background-color: var(--accent)
          height: 15px
          width: 50px
          border-radius: 10px
          margin: auto
          margin-top: 10px
      &__back
        transform: rotateY(22deg) rotateX(8deg) translateZ(-60px)
        transition: transform 0.5s var(--transition)
        background-color: #41759a
        height: 500px
        width: 280px
        border-radius: 20px
        position: absolute

  & .extra
    perspective: 800px
    perspective-origin: right
    position: absolute
    right: 50px
    margin-top: -20px
    &__shadow
      transform: rotateY(-10deg) rotateX(5deg) translateZ(-50px)
      transition: transform 0.5s var(--transition)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: #41759a
      border-radius: 20px
    &__board
      transform: rotateY(-10deg) rotateX(5deg)
      transition: transform 0.5s var(--transition)
      border: 5px solid var(--accent)
      overflow: hidden
      height: 400px
      width: 550px
      border-radius: 20px
      background-color: white
    &:hover
      .extra__shadow
        transform: rotate(0)
      .extra__board
        transform: rotate(0)
footer
  background-color: #444444
  color: white
  padding: 50px
  display: flex
  justify-content: space-between
  align-items: center
