<menu>
  <!--img width="100px" src="/assets/images/landing/tap.svg" alt="Logo" /-->
  <h3>tap</h3>
  <div>
    <a class="button--main" href="/dashboard">Dashbard</a>
  </div>
</menu>
<svg class="backgroundLines" viewBox="0 0 100 100">
  <path
    d="M50 0 L50 25 Q50 30 55 30 L80 30 Q85 30 85 35 L85 100"
    stroke="#efefef"
    stroke-width="1.5"
    fill="none"
  />
</svg>
<section>
  <div class="explanation">
    <h3>Create all kinds of flows</h3>
    <p>
      Create tests, quizzes, surveys, adventure books, interactive stories...
    </p>
  </div>
</section>
<section>
  <div class="explanation">
    <h3>Visual editor</h3>
    <p>
      Easy to use node editor, no coding required, with powerfull tools to let
      you create without limits
    </p>
    <button>Check the documentation</button>
  </div>
  <div class="extra">
    <div class="button--main extra__previewInfo"><p>Try the editor</p></div>
    <div class="extra__board">
      <polo-board [grid]="true" [tree]="exampleTree"></polo-board>
    </div>
  </div>
</section>
<section>
  <div class="explanation">
    <h3>Share</h3>
    <p>
      Share your tests on social media, embed them on your website, or use them
      as a landing page
    </p>
  </div>
</section>
<section>
  <div class="explanation">
    <h3>Statistics</h3>
    <p>
      Track your tests, see how many people are playing, the most clicked
      answers, etc
    </p>
  </div>
</section>
