<menu>
  <p class="logo">Text & Play <sup> beta</sup></p>
  <div>
    <polo-landing-link
      (click)="scrollTo('pricing')"
      text="Pricing"
    ></polo-landing-link>
    <!--polo-landing-link destiny="/blog" text="Blog"></polo-landing-link-->
    <div class="login">
      @if (checkedLoggedUser) {
      <polo-landing-link
        behaviour="link"
        destiny="/dashboard"
        text="{{ loggedUserEmail ? 'Dashboard' : 'Login' }}"
        [highlight]="true"
      ></polo-landing-link>
      }
    </div>
  </div>
</menu>
<section class="section--intro pattern-background">
  <div class="background-cover"></div>
  <div class="intro section--centeredContent">
    <!--h1>Write interactive text content that reacts to user inputs</h1-->
    <!-- Interact with users with simple, fresh and engaging ways-->
    <!--h1>Create complex tests that users want to take</h1-->
    <h1>
      The no-code tool for creating complex, dynamic tests that adapt to user
      choices
    </h1>
    <!--h1>
      Engage your audience with interactive content that
      <span>react to their actions</span>
    </h1-->
    <h2>
      From simple formularies and quizzes to intricate story-driven flows.
      <br />Textandplay provides the simplest tools to
      <strong>create</strong> tests, <strong>share</strong> them with your
      audience and <strong>analyse</strong> the results.
    </h2>
    <!--div>
      <li>Intuitive node-based platform for creating dynamic interactive tests and narratives</li>
      <li>Build complex, branching, reactive scenarios with ease</li>
      <li>Share with one click and track user decisions</li>
    </div-->
    <div class="intro__buttons">
      <polo-landing-link
        destiny="/dashboard"
        behaviour="link"
        text="Start creating!"
        [highlight]="true"
      ></polo-landing-link>
      <polo-landing-link
        (click)="scrollTo('examples')"
        text="Check some examples"
      ></polo-landing-link>
    </div>
  </div>
</section>

<section class="section--mobile pattern-background">
  <div class="mobile__playground">
    <polo-board
      #board
      [initialZoom]="0.9"
      [grid]="true"
      [focusElements]="false"
      [zoomable]="false"
    ></polo-board>
    <img alt="Decorative arrow" src="assets/images/landing/arrow.webp" />
    <polo-landing-mobile [camera]="true" [topSpacing]="true">
      <polo-game mode="single"></polo-game>
    </polo-landing-mobile>
  </div>
  <!--div class="mobile__text">
    <div class="mobile__text__editor">
      <h3 class="txt-baskerville txt-l">The node editor</h3>
      <p class="txt-baskerville">This nodes will be translated to the user experience you see in your right</p>
    </div>
    <div class="mobile__text__result">
    </div>
  </div-->
</section>
<section class="section--advantages">
  <div class="advantages section--centeredContent">
    <!--h2 class="claim advantages__title txt-baskerville">
      Create, share and analyze results, in minutes
    </h2-->
    <!--h2 class="claim advantages__title txt-baskerville">
      Why <span>we<sub class="txt-s">and hopefuly you</sub></span> love
      textandplay
    </h2-->
    <div class="advantages__list">
      <polo-landing-card
        image="/assets/images/landing/advantages_unleash_creativity.webp"
        title="Create any flow you need"
        alt="Decorative drawing of a person drawing nodes in a canvas"
      >
        <p>
          Quizzes, feedback formularies, complex story-driven experiences...
          everything is possible, and everything is easy
        </p>
        <polo-landing-link text="Where is the limit?"></polo-landing-link>
      </polo-landing-card>
      <polo-landing-card
        image="/assets/images/landing/advantages_flow_control.webp"
        title="Tailored for every user"
        alt="Decorative drawing of a person in front of a signpost deciding where to go"
      >
        <p>
          Users will be more engaged and give better feedback if the flow is
          personalized specially for them. We make this easy.
        </p>
        <polo-landing-link text="How?"></polo-landing-link>
      </polo-landing-card>
      <polo-landing-card
        image="/assets/images/landing/advantages_analyze.webp"
        title="Analyze the results"
        alt="Decorative drawing of two persons making cientific experiments"
      >
        <p>
          What did users chose? Which were their paths? How many completed the
          test? For every question you have an answer
        </p>
        <polo-landing-link text="Analyze it"></polo-landing-link>
      </polo-landing-card>
      <!--polo-landing-card
        image="/assets/images/landing/advantages_integrate_everywhere.webp"
        title="Integrate everywhere, reach everyone"
        alt="Decorative drawing of a wizard viewing Textandplay inside a crystal ball"
      >
        <span class="paidFeatureTag">Pro feature</span>
        <p>
          Embed your scenarios anywhere with simple iframes, expanding your
          reach across platforms
        </p>
      </polo-landing-card-->
      <!--polo-landing-card
        image="/assets/images/landing/advantages_breeze.webp"
        title="Know your users"
        alt="Decorative drawing of a paper plane flying through clouds"
      >
        <span class="paidFeatureTag">Pro feature</span>
        <p>
          Gain valuable data on user choices, paths, and engagement
        </p>
      </polo-landing-card-->
    </div>
  </div>
</section>
<h2 class="claim txt-baskerville">
  We provide the most flexible tools so you can build any flow
</h2>
<section class="section--mainFeatures">
  <div class="section--centeredContent buildFeatures">
    <div class="feature feature1">
      <div class="feature__text">
        <div class="tag tag--build"><p>Build tools</p></div>
        <p class="feature__text__title">No-code and nodes, a winner pairing</p>
        <p>
          By joining predefined nodes, anyone can handle anything without hassle
        </p>
        <ul>
          <li>Drag and drop nodes around to build your flow</li>
          <li>Understand all your structure at a glance</li>
          <li>Unlimited paths and endings</li>
        </ul>
        <polo-landing-link
          class="feature__text__action"
          text="Check all the possibilities"
          [highlight]="true"
        ></polo-landing-link>
      </div>
      <video loop autoplay width="500px">
        <source src="/assets/videos/nodes.webm" type="video/webm" />
      </video>
    </div>
    <div class="feature feature2">
      <div class="feature__text">
        <div class="tag tag--build"><p>Build tools</p></div>
        <p class="feature__text__title">
          Personalization and unique user experience
        </p>
        <p>
          Use information user give to you in the same flow to be more personal
          and to provide a personalized flow adapted to his specific needs
        </p>
        <ul>
          <li>
            Add some randomness to the flows to make the experience unique
          </li>
          <li>Send users to specific nodes depending on previous actions</li>
          <li>Dynamic hashtags</li>
        </ul>
        <polo-landing-link
          class="feature__text__action"
          text="Learn more about personalization"
          [highlight]="true"
        ></polo-landing-link>
      </div>
      <img class="feature__image" />
    </div>
    <div class="feature feature3">
      <div class="feature__text">
        <div class="tag tag--build"><p>Build tools</p></div>
        <p class="feature__text__title">Simplicity to handle complexity</p>
        <p>
          We build with simplicity in mind so everything is as easy and
          straightforward as it can be. <br /><br />You don't have to learn a
          new tool, you just have to use it.
        </p>
      </div>
    </div>
    <div class="feature feature4">
      <div class="feature__text">
        <div class="tag tag--share"><p>Share tools</p></div>
        <p class="feature__text__title">Let your flow, flow!</p>
        <p>
          More users completing the flow means more data and visits for you.
        </p>
        <p>That's why we made share a flow as easy as sharing a link.</p>
        <polo-landing-link
          class="feature__text__action"
          text="Discover more sharing options"
          [highlight]="true"
        ></polo-landing-link>
      </div>
    </div>
    <div class="feature feature5">
      <div class="feature__text">
        <div class="tag tag--share"><p>Share tools</p></div>
        <p class="feature__text__title">
          Want real user feedback? Treat users as humans
        </p>
        <p>
          There are many tools to build a form, but from the user perspective
          every form will be just another form. Give them something better and
          start receiving better feedback
        </p>
        <ul>
          <li>Options for conversational flows</li>
          <li>Trully personalized texts and experiences</li>
        </ul>
        <polo-landing-link
          class="feature__text__action"
          text="More options for better engagement"
          [highlight]="true"
        ></polo-landing-link>
      </div>
    </div>
    <div class="feature feature6">
      <div class="feature__text">
        <div class="tag tag--analyze"><p>Analyze tools</p></div>
        <p class="feature__text__title">
          Which insights do you need? We cover you
        </p>
        <p>Analyze the answers from users</p>
        <ul>
          <li>See paths followed by users easily over your nodes</li>
          <li>
            Detection of users changing screens for exams or engaging data
          </li>
        </ul>
        <polo-landing-link
          class="feature__text__action"
          text="Check all the analyze tools"
          [highlight]="true"
        ></polo-landing-link>
      </div>
    </div>
  </div>
</section>
<!--section class="section--mainFeatures">
  <div class="section--centeredContent shareFeatures">
    <div class="feature feature1">
      <div class="feature__text">
        <p class="feature__text__title">Let your flow, flow!</p>
        <p>
          More users completing the flow means more data and visits for you.
        </p>
        <p>That's why we made share a flow as easy as sharing a link.</p>
        <polo-landing-link
          class="feature__text__action"
          text="Discover more sharing options"
        ></polo-landing-link>
      </div>
    </div>
    <div class="feature feature2">
      <div class="feature__text">
        <p class="feature__text__title">
          Want real user feedback? Treat users as humans
        </p>
        <p>
          There are many tools to build a form, but from the user perspective
          every form will be just another form. Give them something better and
          start receiving better feedback
        </p>
        <ul>
          <li>Options for conversational flows</li>
          <li>Trully personalized texts and experiences</li>
        </ul>
        <polo-landing-link
          class="feature__text__action"
          text="More options for better engagement"
        ></polo-landing-link>
      </div>
    </div>
    <div class="feature feature3">
      <div class="feature__text">
        <p class="feature__text__title">
          Which insights do you need? We cover you
        </p>
        <p>Analyze the answers from users</p>
        <ul>
          <li>See paths followed by users easily over your nodes</li>
          <li>
            Detection of users changing screens for exams or engaging data
          </li>
        </ul>
        <polo-landing-link
          class="feature__text__action"
          text="Learn more about personalization"
        ></polo-landing-link>
      </div>
    </div>
  </div>
</section-->
<section #examplesSection class="section--usecases">
  <h2 class="usecases__title txt-baskerville">Who is this for?</h2>
  <div class="usecases section--centeredContent textImageContent">
    <div class="usecases__list">
      <div class="linepoints"></div>
      <div
        class="usecases__list__item"
        [class.active]="activeUseCase === 'brands'"
        (click)="selectUseCase('brands')"
      >
        <h3 class="txt-baskerville txt-l">Marketing teams</h3>
        <p>
          Engage your users with personalized formularies that guide them to
          your products and services, track most choosen answers and adapt your
          business to <strong>bring more value</strong>
        </p>
        <polo-landing-link
          (click)="scrollTo('activeExample')"
          [small]="true"
          [highlight]="activeUseCase === 'brands'"
          text="{{
            activeUseCase === 'brands'
              ? 'Active example'
              : 'Answer an example funnel'
          }}"
        ></polo-landing-link>
      </div>
      <div
        class="usecases__list__item"
        [class.active]="activeUseCase === 'schools'"
        (click)="selectUseCase('schools')"
      >
        <h3 class="txt-baskerville txt-l">Schools and teachers</h3>
        <p>
          Gamify your classrooms, evaluate automatically, analyse the results,
          discover where your students failed most, and
          <strong>upgrade quality of your classes</strong>
        </p>
        <polo-landing-link
          (click)="scrollTo('activeExample')"
          [small]="true"
          [highlight]="activeUseCase === 'schools'"
          text="{{
            activeUseCase === 'schools'
              ? 'Active example'
              : 'Pass an example exam'
          }}"
        ></polo-landing-link>
      </div>
      <div
        class="usecases__list__item"
        [class.active]="activeUseCase === 'creatives'"
        (click)="selectUseCase('creatives')"
      >
        <h3 class="txt-baskerville txt-l">Creative minds</h3>
        <p>
          Writters, storytellers, creators... We provide the most
          straightforward tools to let you <strong>just create</strong> whatever
          you want, from big text adventures to small funny quizzes
        </p>
        <polo-landing-link
          (click)="scrollTo('activeExample')"
          [small]="true"
          [highlight]="activeUseCase === 'creatives'"
          text="{{
            activeUseCase === 'creatives'
              ? 'Active example'
              : 'Play an example adventure'
          }}"
        ></polo-landing-link>
      </div>
      <div class="usecases__list__item">
        <h3 class="txt-baskerville txt-l">You!</h3>
        <p>
          There are infinite ways to use Textandplay! Experiment, try things,
          create, use it however you want
        </p>
        <polo-landing-link
          text="Start creating!"
          destiny="/dashboard"
          behaviour="link"
          [highlight]="true"
        ></polo-landing-link>
      </div>
    </div>
    <div #activeExample class="usecases__examples">
      <div class="exampleContainer">
        <!--polo-landing-mobile-->
        @if(activeUseCase==='brands'){
        <iframe
          title="Brand flow example"
          @showUseCase
          src="https://textandplay.com/private/0a9d2015-8d6c-44ae-95cc-980f59a8efdc"
        ></iframe>
        } @if(activeUseCase==='schools'){
        <iframe
          title="School flow example"
          @showUseCase
          src="https://textandplay.com/private/414a6ab4-8f7c-442c-8968-e26294ae335f"
        ></iframe>
        } @if(activeUseCase==='creatives'){
        <iframe
          title="Creative flow example"
          @showUseCase
          src="https://textandplay.com/private/337b5201-40eb-4732-b29a-8c09663ef8b5"
        ></iframe>
        }
        <!--/polo-landing-mobile-->
      </div>
    </div>
  </div>
</section>
<section #pricingSection class="section--pricing">
  <div class="section--centeredContent">
    <h2 class="txt-white txt-baskerville">Pricing</h2>
    <polo-billing-cycle
      (onChangePayingPeriod)="payAnnually = $event === 'annual' ? true : false"
    ></polo-billing-cycle>
    <polo-pricing
      [userPlan]="loggedUserPlan"
      [payAnnually]="payAnnually"
      [email]="loggedUserEmail"
      [preventEasyDowngrading]="true"
    ></polo-pricing>
    <!--p class="txt-white">We will be glad to talk about your specific needs, if you have some!<br>Contact us
    </p-->
  </div>
</section>
<!--section class="section--roadmap">
  <div class="section--centeredContent textImageContent">
    <div class="roadmap">
      <h2 class="txt-baskerville">The future ahead</h2>
      <p>We are just starting. Check out what's next in our roadmap:</p>
      <div class="roadmap__list">
        <details>
          <summary>&nbsp;Images in the answers</summary>
          <p>Add the possibility to have images also in the answers, to select between some images instead of text, for
            example.</p>
        </details>
        <details>
          <summary>&nbsp;Better analytics for pro users</summary>
          <p>More clear data from your user activity, easy to digest and understand</p>
        </details>
        <details>
          <summary>&nbsp;See all nodes listed and editable</summary>
          <p>We want a place where you can see all your nodes in a list format, and you can rapidly edit from there</p>
        </details>
        <details>
          <summary>&nbsp;Customization options</summary>
          <p>It would be good to have some customization options to let you choose the colors, typography, etc</p>
        </details>
        <details>
          <summary>&nbsp;Multiple joins with probabilities</summary>
          <p>As of now, you can join to multiple nodes from the same node, giving a probability of 50% to each
            one.<br><br>
            We want to add a custom percentage selector so you can give 20% changes to one node and 80% to the other,
            for example<br><br>
            <span class="txt-s">This is not very necessary, but it adds a lot of freedom, which is what moves us
              😬</span>
          </p>
        </details>
      </div>
    </div>
    <img class="roadmap__image" width="100%" src="/assets/images/landing/futureAhead.webp"
      alt="Puppet looking through a telescope" />
  </div>
</section-->
<footer>
  <div class="footer--centeredContent">
    <div>
      <p class="logo txt-white">Text & Play</p>
      <p class="txt-n txt-white">© textandplay.com - All Rights Reserved</p>
    </div>
    <div>
      <p class="txt-white txt-weight-bold">Contact</p>
      <a href="mailto:hello@textandplay.com" class="txt-white"
        >hello&#64;textandplay.com</a
      >
    </div>
  </div>
</footer>
