.logo
  font-size: 3rem
  font-weight: 900
  margin: 0
h3
  font-size: 3rem
  margin-bottom: 2rem
p
  font-size: 1rem
  line-height: 1.8
a
  text-decoration: none
svg
  position: absolute
  max-width: 1000px
  transform: translateX(-50%)
  left: 50%
  &.line_1
    height: 400px
  &.line_2
    top: 600px
    height: 400px

.button--main
  padding: 1rem
  border-radius: 20px
  background-color: #ffc5ba
  color: white
  font-weight: 900
menu
  display: flex
  gap: 2rem
  align-items: center
  padding: 0.6rem 50px
  position: sticky
  top: 0
  background-color: #fbfbfb
  z-index: 2
  border-bottom: 1px solid var(--medium-gray)
  .login
    margin-left: auto
section
  max-width: 1000px
  margin: auto
  position: relative
  display: flex
  padding: 100px 50px
  gap: 1rem
  justify-content: space-between
  .section__intro
    text-align: center
    width: 100%
  &.section--nospace
    padding: 0 50px

  & .extra
    position: relative
    transform: rotate(2deg)
    transition: transform 0.2s
    .shadow
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: var(--dark-gray)
      top: 15px
      z-index: 0
      left: 15px
      border-radius: 20px
    &__previewInfo
      position: absolute
      top: -20px
      right: 20px
      z-index: 1
    &__board
      border: 5px solid var(--medium-gray)
      transform: scale(1)
      overflow: hidden
      height: 400px
      width: 500px
      border-radius: 20px
      transition: transform 0.2s
      background-color: white
    &:hover
      transform: rotate(0)
      .extra__board
        transform: scale(1.02)
.screen
  border: 5px solid var(--medium-gray)
  transform: scale(1)
  overflow: hidden
  height: 500px
  width: 300px
  border-radius: 20px
  transition: transform 0.2s
  margin: auto
