:host
  --transition: cubic-bezier(0.000, 1.000, 0.950, 0.995)
  --background-gray: rgb(230, 230, 230)
  background-color: rgb(243 243 243)
  background-position: 44px 44px
  background-size: 10px 10px
  background-image: radial-gradient(rgb(167, 167, 167) 5%, transparent 11%)

  display: flex
  flex-direction: column
  align-items: center

iframe
  border: none
  width: 100%
  height: 100%
.logo
    font-size: 2rem
    font-weight: 900
    margin: 0
    font-family: 'LibreBaskerville'
    sup
      font-size: 1rem
menu
  position: fixed
  width: calc(100% - 20px)
  box-sizing: border-box
  transform: translate(-50%)
  border-radius: 10px
  left: 50%
  top: 10px
  display: flex
  gap: 2rem
  align-items: center
  padding: 10px 20px
  background: #ffffffcc
  z-index: 3
  backdrop-filter: blur(15px)
  .login
    margin-left: auto

h1
  font-size: 3rem
h2
  font-size: 2.5rem
  font-weight: 200

p, a, li, details,summary
  font-family: 'Raleway'
  font-size: 1.3rem
  line-height: 1.5
  font-weight: 200

details
  padding: 0.5rem 1rem
  border: 1px solid var(--background-gray)
  border-radius: 10px
  cursor: pointer
.background-cover
  position: absolute
  width: 100%
  height: calc(100% - 100px)
  background: radial-gradient(rgb(243 243 243) 100%, transparent 0%)
  filter: blur(100px)
  bottom: -30px
section
  width: 100%
  box-sizing: border-box
  position: relative
  & .section--centeredContent
    width: 100%
    max-width: 1200px
    margin: auto
    padding: 0 30px
    box-sizing: border-box
  & .section--relativeMarginSpace
    margin: 10vw 0
  &.section--intro
    padding-bottom: 90px
    padding-top: 220px
  &.section--mobile
    display: flex
    flex-direction: column
    padding: 60px
    padding-bottom: 130px
    .mobile__playground
      display: flex
      align-items: center
      justify-content: space-around
      flex-wrap: wrap
      gap: 20px
      polo-board
        position: relative
      polo-board::after
        content:"This is a simplified preview of the Textandplay dashboard"
        position: absolute
        bottom: 10px
        right: 10px
        font-family: 'RalewayItalic'
        color: var(--light-text)
      img
        width: 100px
    .mobile__text
      display: flex
      &__editor
        padding: 1rem
        background: rgba(255, 255, 255, 0.9)
  &.section--usecases
    position: relative
    background: white
    border-radius: 70px 70px 0 0
    box-shadow: 0 0 200px rgba(0,0,0,.1)
    padding: 60px 0
  &.section--advantages
    position: relative
    background: white
    padding: 60px 0
    padding-bottom: 100px
  &.section--roadmap
    padding: 60px 0
    background: white
  &.section--pricing
    display: flex
    flex-direction: column
    padding: 60px 0
    background: var(--text-color)
    background-size: 5px 5px
    //background-image: radial-gradient(rgb(167, 167, 167) 5%, transparent 11%)
    background-image: radial-gradient(rgb(89 89 89) 5%, transparent 11%)
.textImageContent
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  gap: 3rem

.intro
  display: flex
  flex-direction: column
  align-items: center
  gap: 2rem
  position: relative
  z-index: 1
  polo-landing-button
    margin-top: 2rem
  h1
    max-width: 700px
    font-family: Baskerville
    font-size: 3.5rem
    line-height: 1.1
    text-align: center
  h2
    font-family: Raleway
    max-width: 800px
    font-size: 1.5rem
    line-height: 1.5
    text-align: center
    font-weight: 300

polo-board
  width: 500px
  height: 500px
  overflow: hidden
  border-radius: 20px
  flex-grow: 1
  border: 1px dashed var(--text-color)
  cursor: grab
  &:hover
    border-style: solid
polo-landing-mobile
    padding-right: 5vw

.advantages
  display: flex
  flex-direction: column
  align-items: center
  gap: 4rem
  &__title
    text-align: center
    span
      position: relative
      background: url(/assets/images/landing/we_detail.webp) no-repeat bottom -2px center / 25px
      height: 55px
      display: inline-block
      sub
        position: absolute
        bottom: 18px
        transform: translateY(18px) translateX(-16px) rotate(7deg)
        width: 100px
        opacity: 0.6
  &__list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
    gap: 3rem
    width: 100%

.usecases
  align-items: center
  & .linepoints
    position: absolute
    left: 20px
    height: calc(100% - 40px)
    bottom: 0
    width: 5px
    background-size: 5px 5px
    background-image: radial-gradient(rgb(26 26 26) 15%, transparent 20%)
  &__title
    text-align: center
  &__list
    position: relative
    display: flex
    align-items: flex-start
    flex-direction: column
    gap: 4rem
    margin-top: 1rem
    &__item
      background-color: white
      z-index: 1
      padding: 1rem 0
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 0.5rem
      cursor: pointer
      transition: padding-left 0.5s, border-left 0.2s
      h3
        font-size: 1.5rem
      p
        font-size: 1.5rem
        font-family: 'RalewayItalic'
      polo-landing-button
        margin-top: 2rem
      &.active
        border-left: 2px solid var(--text-color)
        padding-left: 10px
  &__examples
    width: 300px
    margin: auto

.roadmap
  display: flex
  flex-direction: column
  gap: 2rem
  &__list
    display: flex
    flex-direction: column
    gap: 0.5rem
.roadmap__image
  width: 300px
  justify-self: center
  align-self: flex-end
.pricing
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  gap: 1rem
  padding: 3rem 0
  &__plan
    flex: 1
    background-color: white
    border-radius: 15px
    padding: 2rem 3rem
    display: flex
    flex-direction: column
    gap: 2rem
    // &:nth-child(1)
    //   box-shadow: 0 0 20px inset var(--text-color)
    &:nth-child(2)
      box-shadow: 0 0 20px inset var(--success)
      outline: 3px solid var(--success)
    // &:nth-child(3)
    //   box-shadow: 0 0 20px inset var(--gold)
    &__header
      display: flex
      justify-content: space-between
    &__features
      display: flex
      flex-grow: 1
      flex-direction: column
      gap: 0.5rem
      & li
        display: flex
        align-items: flex-start
        gap: 0.5rem
        & img
          width: 20px
          margin-top: 2px
        & span
          width: 20px
    polo-landing-button
          align-self: flex-end
.period
  display: flex
  justify-content: space-around
  .period__toggle
    display: flex
    width: 200px
    &__monthly,&__yearly
      width: 200px
      border: 2px solid white
      background: gray
      padding: 1rem
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      p
        font-size: 1.2rem
        color: white
      &.active
        background: #64ab63
    &__yearly
      border-left: 0
      border-radius: 0 10px 10px 0
    &__monthly
      border-right: 0
      border-radius: 10px 0 0 10px

footer
  width: 100%
  box-sizing: border-box
  position: relative
  background: var(--text-color)
  .footer--centeredContent
    max-width: 1200px
    margin: auto
    display: flex
    width: 100%
    box-sizing: border-box
    justify-content: space-between
    align-items: flex-end
    padding: 50px 20px
    a
      text-decoration: none
      padding-bottom: 1px
      border-bottom: 1px dotted white

.paidFeatureTag
  position: absolute
  top: 0
  right: 0
  background-color: #ffe86e
  display: flex
  align-items: center
  padding: 0.6rem 1rem
  border-radius: 5px
  font-family: monospace
  transform: rotate(13deg) translate(27px, -8px)
  box-shadow: 0px 0px 0px 4px #fff9d9

@media screen and (max-width: 1098px)
  polo-board
    width: 100%
  section.section--mobile .mobile__playground
    flex-direction: column
    gap: 50px
    & img
      transform: rotate(90deg)
