<menu>
  <p class="logo">tap</p>
  <div class="login">
    <polo-accent-button (click)="router.navigate(['/dashboard'])" [fill]="true"
      >Dashboard</polo-accent-button
    >
  </div>
</menu>
<svg
  _ngcontent-ng-c3819845452=""
  viewBox="0 0 100 40"
  class="line--rightToLeft"
  style="top: 516px; margin-left: 4px; color: #41759a"
>
  <path
    _ngcontent-ng-c3819845452=""
    d="M50 0 L50 15 Q50 20 45 20 L20 20 Q15 20 15 25 L15 100"
    stroke="currentColor"
    stroke-width="1"
    fill="none"
  ></path>
</svg>
<svg class="line--rightToLeft" viewBox="0 0 100 40">
  <path
    d="M50 0 L50 15 Q50 20 45 20 L20 20 Q15 20 15 25 L15 100"
    stroke="currentColor"
    stroke-width="1"
    fill="none"
  />
</svg>
<!--div class="background">
  <div></div>
  <div></div>
</div-->
<section class="section--editor">
  <div class="text">
    <h1>
      The easiest way to create
      <span class="flowsWordDetail">flows</span>*
    </h1>
    <p>✨ Create the flow using nodes and connections (just like here ⏩️)</p>
    <p>✉️ Send it to your students, friends, or whoever you need to take it</p>
    <p>💅 Just wait. Go outside, take a walk</p>
    <p>🧮 Check the results</p>
    <p>We have some powerful functionalities for you. Check them!</p>
    <p>* Tests, quizzes, text adventures, exams, questionaries...</p>
    <div class="actions">
      <polo-accent-button>Start creating</polo-accent-button>
      <polo-accent-button [gray]="true">See examples</polo-accent-button>
    </div>
  </div>
  <div class="extra">
    <div class="extra__shadow"></div>
    <div class="extra__board">
      <polo-board
        [initialZoom]="0.8"
        [grid]="true"
        [tree]="exampleTree.tree"
        [focusElements]="false"
      ></polo-board>
    </div>
  </div>
</section>
<section class="section--mobile">
  <div class="mobile">
    <div class="mobile__back"></div>
    <div class="mobile__screen">
      <div class="mobile__screen__camera"></div>
      <polo-flow></polo-flow>
    </div>
  </div>
  <div class="text text--right">
    <h1>Share and observe</h1>
    <p>Just send a private or public link and let people take the test.</p>
    <p>
      Check the results and stadistics of your flow in your personal dashboard.
    </p>
    <!--div class="actions">
      <polo-accent-button>Share this flow</polo-accent-button>
    </div-->
  </div>
</section>
<footer></footer>
