<polo-anchored-popover #editRequirementPopover [closeOnEscape]="false">
  <button
    popoverTrigger
    class="node__requirement"
    type="button"
    aria-haspopup="dialog"
    [attr.aria-expanded]="editRequirementPopover.isOpen"
    [class.node__requirement--condition]="type === 'condition'"
    [attr.aria-label]="'Edit requirement ' + displayTarget + ', ' + displayValue"
    (click)="editRequirementPopover.open()"
  >
    <img
      [src]="type === 'condition' ? '/assets/icons/condition.svg' : '/assets/icons/stat.svg'"
      alt=""
    />
    <span>{{ displayTarget }}</span>
    <strong>{{ displayValue }}</strong>
  </button>
  <ng-template poloPopoverContent>
    <polo-node-add-requirement
      class="anchoredAddRequirement"
      [closeOnOutsideClick]="false"
      [amount]="amount"
      [type]="type"
      [target]="target"
      [originalTarget]="target"
      (onSaveRequirement)="saveRequirement($event)"
      (onClose)="editRequirementPopover.close()"
      (onDeleteRequirement)="deleteRequirement($event)"
      [canBeDeleted]="true"
    ></polo-node-add-requirement>
  </ng-template>
</polo-anchored-popover>
