@font-face
  font-family: "Baskerville"
  src: url("../../../assets/fonts/Baskervville-Regular.ttf")
  font-weight: 400
@font-face
  font-family: "Baskerville"
  src: url("../../../assets/fonts/Baskerville-BT-Bold.ttf")
  font-weight: 700
@font-face
  font-family: "LibreBaskerville"
  src: url("../../../assets/fonts/LibreBaskerville-Regular.ttf")
  font-weight: 400
@font-face
  font-family: "LibreBaskerville"
  src: url("../../../assets/fonts/LibreBaskerville-Bold.ttf")
  font-weight: 700

:host
  display: block
  height: 100%

.playground
  display: flex
  height: 100dvh
  box-sizing: border-box
  flex-direction: column
  .storytitle
    text-align: center
    font-size: 1rem
    padding: 1.5rem 1.5rem 0rem 1.5rem
  .storyfooter
    text-align: center
    font-size: 1rem
    padding: 1rem
    margin-top: auto
    text-decoration: none
  polo-game
    overflow: hidden

.default
  .playerForm
    display: flex
    justify-content: space-between
    gap: 1rem

//
// Catalanus Customization
//
.catalanus
  border: 5px solid #EB5D57
  .storytitle
    font-family: LibreBaskerville
    font-weight: bold
    font-size: 1.1rem
  .storyfooter
    font-family: 'Baskerville'
    color: red
