<div class="playground" [class]="customStyles || 'default'">
  <p class="storytitle">Quina caca ets?</p>
  @if (gotUserInfo) {
    <polo-game
      [customStyles]="customStyles"
      (onEndGame)="endGame()"
      (onDrawNode)="drawNode($event)"
      (onSelectAnswer)="selectAnswer($event)"
    ></polo-game>
  }
  <a
    href="https://www.instagram.com/catalanus__?igsh=MXA4NDU4MTcxcTFlMQ=="
    target="_blank"
    class="storyfooter"
    >catalanus</a
  >
  @if (
    activeStory.entireTree() &&
    activeStory.storyConfiguration().askName &&
    !gotUserInfo
  ) {
    <polo-modal-window [locked]="true">
      <form class="playerForm">
        <input type="text" (change)="setUserName($event)" placeholder="Nom" />
        <polo-accent-button
          [fill]="true"
          type="submit"
          (click)="displayGame($event)"
          >Començar!</polo-accent-button
        >
      </form>
    </polo-modal-window>
  }
</div>
