@font-face
  font-family: "Baskerville"
  src: url("../../../assets/fonts/Baskervville-Regular.ttf")
  font-weight: 400

.adventure
  margin: auto
  max-width: 450px
  margin-top: 60px
.playerForm
  display: flex
  justify-content: space-between
  gap: 1rem
