<div class="playground" [class]="customStyles || 'default'">
  <div class="storytitle">{{ activeStory.storyName() }}</div>
  @if (gotUserInfo) {
  <polo-game [mode]="activeStory.storyConfiguration().cumulativeMode ? 'cumulative' : 'single'"
    [customStyles]="customStyles" (onEndGame)="endGame()" (onDrawNode)="drawNode($event)"
    (onSelectAnswer)="selectAnswer($event)"></polo-game>
  }
  <div class="storyfooter">
    <span></span>
    @if (activeStory.storyConfiguration().footer?.text) {
    @if (activeStory.storyConfiguration().footer.link) {
    <a href="{{ activeStory.storyConfiguration().footer.link }}" target="_blank">{{
      activeStory.storyConfiguration().footer.text }}</a>
    } @else {
    <p>
      {{ activeStory.storyConfiguration().footer.text }}
    </p>
    }
    }
    @if(activeStory.storyConfiguration().tapLink){
    <p>
      Created with
      <a target="_blank" href="https://textandplay.com">Textandplay</a>
    </p>
    }
  </div>
  @if (
  activeStory.entireTree() &&
  activeStory.storyConfiguration().askName &&
  !gotUserInfo
  ) {
  <polo-modal-window [locked]="true">
    <form class="playerForm">
      <input type="text" (change)="setUserName($event)" placeholder="Nom" />
      <polo-basic-button type="submit" (click)="displayGame($event)">Començar!</polo-basic-button>
    </form>
  </polo-modal-window>
  }
</div>
