:host
  padding: 0.3rem 0.5rem
  background-color: var(--light-gray)

.menu
  display: flex
  justify-content: space-between
  align-items: center
  height: 1.5rem
.data
  display: flex
  gap: 0.3rem
  margin-top: 0.3rem
  .selector
    flex: 1
.info
  position: relative
  min-width: 1rem
  min-height: 1rem
  background-color: var(--medium-gray)
  line-height: 1rem
  text-align: center
  align-self: center
  display: flex
  align-items: center
  justify-content: center
  border-radius: 100%
  p
    pointer-events: none
    font-size: var(--small-text)
  &__data
    display: none
    position: absolute
    left: calc(100% + 5px)
    background-color: var(--light-gray)
    padding: 0.5rem
    text-align: left
    width: 8rem
  &:hover &__data
    display: flex
