<div class="menu">
  <p>Modify {{ getTypeForEvent() }}</p>
  <button (click)="removeEvent()">D</button>
</div>
<div class="data">
  <polo-selector
    #selector
    [selected]="id"
    (onNewOption)="newOption($event)"
    (onSelectOption)="changeElement($event)"
    [options]="getFormattedRefsOfTree() || []"
    message="Select a {{ getTypeForEvent() }} or create new one"
  ></polo-selector>
  <input
    #amountInput
    type="number"
    (change)="changeAmount($event)"
    value="{{ amount }}"
  />
  <div class="info">
    <p>i</p>
    <div class="info__data">
      <p>
        <span class="txt_bold">{{ infoData.value }}</span> will
        {{ infoData.operation }} by
        <span class="txt_bold">{{ infoData.amount }}</span>
      </p>
    </div>
  </div>
</div>
