<div class="options" role="menu" [attr.aria-label]="'board.nodeOptions.title' | t">
  <p class="options__title">{{ 'board.nodeOptions.title' | t }}</p>
  <polo-basic-button
    [transparent]="true"
    size="s"
    [title]="'board.nodeOptions.duplicateShortcut' | t"
    [text]="'board.nodeOptions.duplicate' | t"
    icon="/assets/icons/duplicate.svg"
    (click)="onDuplicateNode.emit()"
    align="left"
  ></polo-basic-button>
  @if (type !== 'distributor') {
    <form>
      <label
        class="options__addImage"
        role="menuitem"
        [title]="'board.nodeOptions.addImageShortcut' | t"
      >
        <img src="/assets/icons/camera.svg" alt="" />
        <span>{{ 'board.nodeOptions.addImage' | t }}</span>
        <input
          type="file"
          name="image"
          accept="image/*"
          [attr.aria-label]="'board.nodeOptions.addImage' | t"
          (change)="onAddImage.emit($event)"
        />
      </label>
    </form>
  }
  @if (frameName) {
    <polo-basic-button
      [transparent]="true"
      size="s"
      [title]="'board.nodeOptions.removeFromFrameShortcut' | t: { frame: frameName }"
      [text]="'board.nodeOptions.removeFromFrame' | t"
      icon="/assets/icons/minus.svg"
      (click)="removeFromFrame.emit()"
      align="left"
    ></polo-basic-button>
  }
  <polo-basic-button
    [transparent]="true"
    size="s"
    type="danger"
    [title]="'board.nodeOptions.deleteShortcut' | t"
    [text]="'board.nodeOptions.delete' | t"
    icon="/assets/icons/trash.svg"
    (click)="onRemoveNode.emit()"
    align="left"
  ></polo-basic-button>
</div>
