<div class="options" role="menu" aria-label="Node actions">
  <p class="options__title">Node actions</p>
  <polo-basic-button
    [transparent]="true"
    size="s"
    title="Duplicate node"
    text="Duplicate"
    icon="/assets/icons/duplicate.svg"
    (click)="onDuplicateNode.emit()"
    align="left"
  ></polo-basic-button>
  @if (type !== 'distributor') {
    <form>
      <label class="options__addImage" role="menuitem">
        <img src="/assets/icons/camera.svg" alt="" />
        <span>Add image</span>
        <input
          type="file"
          name="image"
          accept="image/*"
          aria-label="Add image"
          (change)="onAddImage.emit($event)"
        />
      </label>
    </form>
  }
  @if (nodeId !== 'node_0') {
    <polo-basic-button
      [transparent]="true"
      size="s"
      type="danger"
      title="Delete node"
      text="Delete"
      icon="/assets/icons/trash.svg"
      (click)="onRemoveNode.emit()"
      align="left"
    ></polo-basic-button>
  }
</div>
