<div class="top-bar">
  <polo-node-requirements
    [requirements]="requirements"
    [answerId]="answerId"
  ></polo-node-requirements>
  <polo-basic-button
    class="delete-answer"
    (click)="removeAnswer()"
    icon="/assets/icons/trash.svg"
    [transparent]="true"
  ></polo-basic-button>
</div>
<textarea #textarea (change)="saveAnswerText($event)">{{ text }}</textarea>
<polo-node-events [events]="events" [answerId]="answerId"></polo-node-events>
<div
  class="union_point"
  [attr.data-board-origin]="answerId"
  [poloBoardAnchor]="answerId + '_join'"
  [class.union_point--hasJoin]="hasJoin"
></div>
