<div class="top-bar">
  @if (reorderable) {
    <polo-sortable-handle [label]="'board.answer.reorder' | t" />
  }
  <polo-node-requirements
    [requirements]="requirements"
    [answerId]="answerId"
  ></polo-node-requirements>
  <polo-basic-button
    class="delete-answer"
    size="s"
    [title]="'board.answer.delete' | t"
    (click)="removeAnswer()"
    icon="/assets/icons/trash.svg"
    [transparent]="true"
  ></polo-basic-button>
</div>
<polo-rich-text-field
  [label]="'board.answer.text' | t"
  [text]="text"
  [inlineOnly]="true"
  [placeholder]="'board.answer.placeholder' | t"
  (saved)="saveAnswerText($event)"
/>
<polo-node-events [events]="events" [answerId]="answerId"></polo-node-events>
<div
  class="union_point"
  [attr.data-board-origin]="answerId"
  [poloBoardAnchor]="answerId + '_join'"
  [class.union_point--hasJoin]="hasJoin"
></div>
