:host
  position: relative
  display: flex
  flex-direction: column
  border: 1px solid var(--medium-gray)
  border-radius: 1rem
:host:hover .delete-answer
  opacity: 1
  mouse-events: auto
:host.highlighted
  outline: 2px solid #2ECC71

.delete-answer
  mouse-events: none
  opacity: 0
.top-bar
  display: flex
  align-items: center
  justify-content: space-between
textarea
  border: none
  min-height: 0
  field-sizing: content
  resize: none
.union_point
  width: 1.5rem
  height: 1rem
  background-color: white
  border: 1px solid var(--dark-gray)
  border-radius: 0.6rem
  align-self: center
  cursor: crosshair
  position: absolute
  right: 0
  transform: translateX(73%)
  &--hasJoin
    background-color: var(--medium-gray)
.union_point:hover
  background-color: var(--medium-gray)
