<polo-modal-window [name]="'dashboard.profile.title' | t">
  <ng-container modal-content>
    @if (db.user(); as user) {
      <div class="profileContainer">
        <section>
          <div>
            <p class="txt-weight-bold">{{ 'dashboard.profile.email' | t }}</p>
            <p>{{ user.email }}</p>
          </div>
          <div>
            <p class="txt-weight-bold">{{ 'dashboard.profile.name' | t }}</p>
            <p>{{ user.user_metadata['user_name'] }}</p>
          </div>
          <div class="themePreference">
            <label for="night-mode">{{ 'dashboard.profile.nightMode' | t }}</label>
            <input
              id="night-mode"
              #nightMode
              type="checkbox"
              role="switch"
              [checked]="theme.dark()"
              (change)="theme.setDark(nightMode.checked)"
            />
          </div>
          <polo-context-help-preference></polo-context-help-preference>
          <div class="languagePreference">
            <span>{{ 'dashboard.profile.language' | t }}</span>
            <polo-language-selector></polo-language-selector>
          </div>
          <div class="profileOptions">
            @if (user.app_metadata.provider === 'email') {
              <polo-basic-button
                (click)="changePassword()"
                [text]="'dashboard.profile.changePassword' | t"
              ></polo-basic-button>
            }
            <polo-basic-button
              (click)="logout()"
              [text]="'dashboard.profile.logout' | t"
            ></polo-basic-button>
          </div>
        </section>
        <polo-separator [space]="20"></polo-separator>
        <section>
          <p class="txt-l txt-weight-bold">{{ 'dashboard.profile.billing' | t }}</p>
          @if (user.profile.subscription_status === 'incomplete') {
            <p>{{ 'dashboard.profile.incomplete' | t }}</p>
          }
          @if (user.profile.subscription_status === 'canceled') {
            <p>
              {{ 'dashboard.profile.expires' | t: { date: paymentDate(user.profile.next_payment) } }}
            </p>
          } @else {
            <p>
              {{ 'dashboard.profile.nextPayment' | t: { date: paymentDate(user.profile.next_payment) } }}
            </p>
          }
          <polo-billing-cycle
            [small]="true"
            (onChangePayingPeriod)="payAnnually = $event === 'annual' ? true : false"
          ></polo-billing-cycle>
          <polo-pricing
            [dashed]="true"
            [canceledSubscription]="user.profile.subscription_status === 'canceled'"
            [userPlan]="user.profile.plan || 'free'"
            [payAnnually]="payAnnually"
            [email]="user.email"
          ></polo-pricing>
        </section>
      </div>
    }
  </ng-container>
</polo-modal-window>
