@if (behaviour === 'link') {
<a
  [href]="destiny"
  [class.inactive]="inactive"
  [class.highlight]="highlight"
  [class.small]="small"
>
  {{ text }}
</a>
} @else if (behaviour === 'buttonlink') {
<button
  (click)="router.navigate([destiny])"
  [class.inactive]="inactive"
  [class.highlight]="highlight"
  [class.small]="small"
>
  {{ text }}
</button>
}@else if (behaviour === 'button') {
<button
  [class.inactive]="inactive"
  [class.highlight]="highlight"
  [class.small]="small"
>
  {{ text }}
</button>
}
