:host
  position: absolute
  will-change: transform
.node
  width: 20rem
  height: auto
  border: 1px solid var(--dark-gray)
  background-color: #ffffff
  border-radius: 0.5rem
  box-sizing: border-box
  padding: 0 0.3rem
  .joiner
    width: 1.5rem
    height: 1rem
    background-color: white
    border: 1px solid var(--dark-gray)
    border-radius: 0.6rem
    align-self: center
    cursor: pointer
    position: absolute
    left: -15px
    z-index: -1
    &--answers
      left: -20px
  &__image
    position: relative
    &__remove
      position: absolute
      bottom: 10px
      right: 5px
      z-index: 1
      display: none
      height: 2rem
      aspect-ratio: 1
    &:hover .node__image__remove
      display: block
  &__answers
    position: relative
    display: flex
    flex-direction: column
    gap: 0.5rem
    padding: 0.5rem 0.2rem

  &__shareoptions
    padding: 0.5rem
    display: flex
    flex-direction: column
    gap: 1rem
    &__title
      font-weight: 700
    &__option
      &--row
        display: flex
        flex-direction: row
        justify-content: space-between
  &__linkoptions
    padding: 0.5rem
    display: flex
    flex-direction: column
    gap: 1rem
    &__header
      display: flex
      align-items: center
      justify-content: space-between
      &__title
        font-weight: 700

  main
    display: flex
    flex-direction: column
    gap: 1rem
    textarea
      position: relative
      border: none
      border-bottom: 1px dashed var(--medium-gray)
      &:focus
        border-bottom: none
  footer
    padding: 0.5rem 0.2rem
    display: flex
    align-items: center
    p
      color: var(--light-text)
    polo-basic-button
      margin-left: auto

:host.highlighted .node
  outline: 2px solid #2ECC71
header
  display: flex
  border-radius: 0.5rem 0.5rem 0 0
  background: white url("/assets/icons/drag.svg") no-repeat left 0.5rem center/1.3rem
  padding: 0.3rem 0
  border-bottom: 1px solid var(--medium-gray)

.options
  display: flex
  align-items: center
  margin-left: auto
  gap: 0.3rem

  & > span
    cursor: pointer
    margin: 0 0.2rem

  &__addImage
    height: 2rem
    aspect-ratio: 1
    background-repeat: no-repeat
    background-size: 1.1rem
    background-position: center
  &__addImage
    cursor: pointer
    background-image: url("/assets/icons/camera.svg")
    input
      opacity: 0
      position: absolute
      z-index: -1
      pointer-events: none

.union_point
  width: 1.5rem
  height: 1rem
  background-color: white
  border: 1px solid var(--dark-gray)
  border-radius: 0.6rem
  align-self: center
  cursor: crosshair
  position: absolute
  top: 45px
  right: 0
  transform: translateX(50%)
.union_point:hover
  background-color: var(--medium-gray)
