<div class="node" [class.waitingForJoin]="waitingForJoin">
  <div class="waitingForJoin" *ngIf="waitingForJoin" (click)="join()"></div>
  <header>
    <span id="{{ elementRef.nativeElement.id + '_join' }}"></span>
    <ng-content select="dragHandle"> </ng-content>
    <div class="options">
      <button
        title="Delete node"
        class="options__remove"
        (click)="onRemoveNode()"
      ></button>
    </div>
  </header>
  <main>
    @if(type==='distributor'){
    <div *ngIf="conditions && conditions.length > 0" class="node__answers">
      <polo-condition
        *ngFor="let condition of conditions"
        id="{{ condition.id }}"
        [nodeId]="elementRef.nativeElement.id"
        [selectedRef]="condition.ref"
        [comparator]="condition.comparator"
        [value]="condition.value"
        (onRemoveCondition)="removeCondition($event)"
        (onWillJoin)="willJoin($event)"
      ></polo-condition>
    </div>
    } @else if(type==='end'){
    <textarea #textarea (change)="saveNodeText($event)">{{ text }}</textarea>
    <div class="node__linkoptions">
      <div class="node__linkoptions__header">
        <p class="node__linkoptions__header__title">External links</p>
        <button (click)="addExternalLink()">add</button>
      </div>
      <label class="node__linkoptions__link">
        @for (link of links | keyvalue; track $index) {
        <input
          (change)="updateLinks()"
          [(ngModel)]="links[$index].name"
          type="text"
          placeholder="Link text"
        /><input
          (change)="updateLinks()"
          [(ngModel)]="links[$index].url"
          type="text"
          placeholder="Link URL"
        />
        }
      </label>
    </div>
    <div class="node__shareoptions">
      <p class="node__shareoptions__title">Share options</p>
      <label class="node__shareoptions__option">
        <p>Custom shared text</p>
        <input
          (change)="updateSharedText()"
          [(ngModel)]="shareOptions.sharedText"
          type="text"
        />
      </label>
      <label class="node__shareoptions__option--row">
        <p>Allow to share all decisions</p>
        <input disabled type="checkbox" />
      </label>
    </div>
    }@else {
    <textarea #textarea (change)="saveNodeText($event)">{{ text }}</textarea>
    <div *ngIf="answers && answers.length > 0" class="node__answers">
      <polo-answer
        *ngFor="let answer of answers"
        id="{{ answer.id }}"
        [nodeId]="elementRef.nativeElement.id"
        [text]="answer.text"
        (onRemoveAnswer)="removeAnswer($event)"
        (onWillJoin)="willJoin($event)"
      ></polo-answer>
    </div>
    }
  </main>
  <footer>
    <p>{{ elementRef.nativeElement.id }}</p>
    @if(type==='distributor'){
    <button (click)="addCondition()">Add condition</button>
    }@else if(type==='content'){
    <button (click)="addAnswer()">Add answer</button>
    }
  </footer>
</div>
