@if (showContextMenuCursor) {
  <div #openContextCursor class="openContextCursor"></div>
}
<div
  #joinContextMenu
  [class.hideContextMenu]="!showJoinContextMenu"
  class="joinContextMenu"
>
  <button (click)="deleteJoin()">Delete join</button>
</div>

<svg
  #svg
  width="100%"
  height="100%"
  preserveAspectRatio="none"
  [class.hideCursor]="showContextMenuCursor"
>
  @if (drawingFrom) {
    <path
      [attr.d]="getDrawingPath(drawingFrom, drawingTo)"
      stroke-dasharray="4"
      stroke-width="1"
      stroke="#cccccc"
      style="pointer-events: none"
      fill="transparent"
    ></path>
  }
  @for (path of paths(); track path.id) {
    <g
      class="pathGroup"
      (mouseenter)="changeCursorStyle(true)"
      (mouseleave)="changeCursorStyle(false)"
      (mousemove)="setCursorAndContextMenuPosition($event)"
      (click)="
        openJoinContext($event, path.origin, path.destiny, path.toAnswer)
      "
    >
      <path
        [attr.d]="path.svgPath"
        stroke-width="20"
        stroke="transparent"
        fill="transparent"
      ></path>
      <path
        [attr.d]="path.svgPath"
        stroke-width="1"
        stroke="#cccccc"
        fill="transparent"
      ></path>
    </g>
  }
</svg>
