<button
  class="selector"
  type="button"
  [id]="controlId"
  aria-haspopup="dialog"
  [attr.aria-expanded]="optionsOpened"
  [attr.aria-describedby]="describedBy"
  [attr.aria-required]="required"
  [disabled]="disabled"
  (click)="toggleOptions()"
>
  <span [class.selector__placeholder]="!selectedOptionName">
    {{ selectedOptionName || placeholder }}
  </span>
  <img src="/assets/icons/chevron-down.svg" alt="" />
</button>

@if (optionsOpened) {
  <div class="selector__popover">
    <polo-select-or-create
      [options]="options"
      [message]="message"
      [selectedOption]="selected"
      (onNewOption)="createOption($event)"
      (onSelectOption)="selectOption($event)"
      (onClose)="closeOptions()"
    ></polo-select-or-create>
  </div>
}
