<polo-basic-button
  (click)="toggleOptions()"
  text="{{ selectedOption?.name }}"
></polo-basic-button>
<div
  class="dropdown"
  *ngIf="optionsOpened"
  [class.dropdown--onTop]="onTop"
  [class.dropdown--onLeft]="onLeft"
>
  <input
    #search
    type="text"
    (input)="filterOptions($event)"
    placeholder="Search"
  />
  <p class="message">{{ message }}</p>
  @if (newOption) {
    <polo-basic-button
      (click)="createOption(newOption)"
      text="Create {{ newOption }}"
    >
    </polo-basic-button>
  }

  <div class="dropdown__options">
    <li (click)="selectOption(option)" *ngFor="let option of searchedOptions">
      {{ option.name }}
    </li>
  </div>
</div>
