<div class="menu">
  <p>Modify {{ getTypeForEvent() }}</p>
  <polo-basic-button
    size="s"
    icon="/assets/icons/trash.svg"
    (click)="removeEvent()"
  ></polo-basic-button>
</div>
<div class="data">
  <polo-basic-button
    class="selector"
    text="{{ infoData.value }}"
    (click)="openSelectorFor($event, id)"
  ></polo-basic-button>
  <input
    *ngIf="getTypeForEvent() === 'stat'"
    type="number"
    (change)="changeAmount($event)"
    value="{{ amount }}"
  />
  <input
    *ngIf="getTypeForEvent() === 'condition'"
    type="checkbox"
    [checked]="amount"
    (change)="changeCheckbox($event)"
    value="{{ amount }}"
  />
  <div class="info">
    <p>i</p>
    <div class="info__data">
      <p *ngIf="getTypeForEvent() === 'stat'">
        <span class="txt_bold">{{ infoData.value }}</span> will
        {{ infoData.amount >= 0 ? 'increase' : 'decrease' }} by
        <span class="txt_bold">{{ getMathAbs(infoData.amount) }}</span>
      </p>
      <p *ngIf="getTypeForEvent() === 'condition'">
        <span class="txt_bold">{{ infoData.value }}</span> will be
        <span class="txt_bold">{{
          this.amount === 0 ? 'loosed' : 'gained'
        }}</span>
      </p>
    </div>
  </div>
</div>
