<div class="period">
  <div></div>
  <div class="period__toggle">
    <div
      class="period__toggle__monthly"
      [class.active]="period === 'monthly'"
      (click)="changePayingPeriod('monthly')"
    >
      <p>Monthly billing</p>
    </div>
    <div
      class="period__toggle__annually"
      [class.active]="period === 'annual'"
      (click)="changePayingPeriod('annual')"
    >
      <p>Annual billing <span>Save 30% (inventat)</span></p>
      <!--https://dribbble.com/shots/24074397-Pricing-Untitled-UI-->
    </div>
  </div>
</div>
