<div class="node__requirements">
  <polo-anchored-popover #addRequirementPopover [closeOnEscape]="false">
    <button
      popoverTrigger
      class="node__addRequirementButton"
      type="button"
      aria-haspopup="dialog"
      [attr.aria-expanded]="addRequirementPopover.isOpen"
      aria-label="Add requirement"
      title="Add requirement"
      (click)="addRequirementPopover.open()"
    >
      <img src="/assets/icons/plus.svg" alt="" />
      @if (!requirements || requirements.length === 0) {
        <p>Add requirement</p>
      }
    </button>
    <ng-template poloPopoverContent>
      <polo-node-add-requirement
        class="anchoredAddRequirement"
        (onSaveRequirement)="saveRequirement($event)"
        (onClose)="addRequirementPopover.close()"
      ></polo-node-add-requirement>
    </ng-template>
  </polo-anchored-popover>
  @for (requirement of requirements; track getRefId(requirement)) {
    <polo-node-requirement
      [type]="requirement.type"
      [amount]="requirement.amount.toString()"
      [target]="getRefId(requirement)"
      (onSaveRequirement)="saveRequirement($event)"
      (onDeleteRequirement)="deleteRequirement($event)"
    ></polo-node-requirement>
  }
</div>
