.board
  width: 20000px
  height: 10000px

  background-position: 20px 20px
  background-size: 40px 40px
  background-color: rgb(255, 255, 255)
  &--grid
    //https: //screenspan.net/polka/
    background-image: radial-gradient(rgb(230, 230, 230) 5%, transparent 5%)
dragHandle
    width: 100%
    cursor: grab
    display: flex
    align-items: center
    padding-left: 2.5rem
    color: var(--text)

.contextMenu
  display: none
  position: fixed
  background-color: white
  z-index: 2
  flex-direction: column
  //box-shadow: var(--menu-shadow)
  padding: 0.2rem
  border-radius: 5px
  border: 1px solid var(--dark-gray)
  gap: 0.2rem
  header
    border-bottom: 1px solid var(--medium-gray)
    padding: 0.4rem
    color: var(--light-text)
    border-radius: 3px 3px 0 0
  li
    list-style: none
    padding: 0.4rem
    cursor: pointer
    &:hover
      background-color: var(--medium-gray)
  &.active
    display: flex
