<div
  #board
  class="board"
  [class.board--grid]="grid"
  (mouseup)="resumeDragging()"
  (contextmenu)="onRightClick($event)"
  (click)="boardClick($event)"
>
  <div
    #contextMenu
    class="contextMenu"
    [class.active]="contextMenuActive"
    [style.left.px]="contextMenuPosition.x"
    [style.top.px]="contextMenuPosition.y"
  >
    <header>
      <p>Create new node</p>
    </header>
    <li (click)="addNode($event, 'content')">Content node</li>
    <li (click)="addNode($event, 'distributor')">Distributor node</li>
    <li (click)="addNode($event, 'end')">End node</li>
  </div>

  <polo-board-flows [connections]="joins"></polo-board-flows>
  <ng-container *ngIf="tree">
    <polo-node
      *ngFor="let node of tree.nodes"
      #node
      cdkDrag
      id="{{ node.id }}"
      [type]="node.type || 'content'"
      (click)="setActiveNode(node.id)"
      (mousedown)="stopDragging()"
      (mouseenter)="mouseEnter($event)"
      (mouseleave)="mouseLeave($event)"
      (onWillJoin)="willJoin($event)"
      (haveJoined)="haveJoined($event)"
      (removeNode)="removeNode($event)"
      [waitingForJoin]="waitingForJoin"
      (cdkDragStarted)="dragStarted($event)"
      (cdkDragReleased)="dragReleased($event)"
      (cdkDragMoved)="dragCheck()"
      [style.transform]="
        'translate3d(' + node.left + 'px, ' + node.top + 'px, 0px)'
      "
      [text]="node.text"
      [answers]="node.answers"
      [conditions]="node.conditions"
      [shareOptions]="node.share || {}"
      [links]="node.links || []"
    >
      <dragHandle cdkDragHandle>
        <p>
          <span style="text-transform: capitalize">{{
            node.type || 'content'
          }}</span>
          node
        </p>
      </dragHandle>
    </polo-node>
  </ng-container>
</div>
