<div @toggleModalBackground class="modal__background" (click)="close()"></div>
<div @toggleModal class="modal" [class.dialog]="mode === 'dialog'">
  <div class="modal__header">
    <ng-content select="[modal-header]"></ng-content>
    @if (name) {
    <p class="txt-weight-bold txt-l">{{ name }}</p>
    }
    <polo-basic-button
      (click)="close()"
      [transparent]="true"
      class="close-modal-button"
      icon="/assets/icons/close.svg"
    ></polo-basic-button>
  </div>
  <div class="modal__body">
    <ng-content select="[modal-content]"></ng-content>
  </div>
  <div class="modal__options">
    <ng-content select="[modal-options]"></ng-content>
  </div>
</div>
