<polo-dropdown-buttons label="Create new requirement">
  <polo-basic-button
    (click)="createRequirement('stat')"
    text="Stat"
  ></polo-basic-button>
  <polo-basic-button
    (click)="createRequirement('condition')"
    text="Condition"
  ></polo-basic-button>
</polo-dropdown-buttons>
<div class="requirements__list">
  <polo-requirement
    *ngFor="let requirement of requirements"
    (onDelete)="deleteRequirement($event)"
    [id]="requirement.id"
    [amount]="requirement.amount"
    [type]="requirement.type"
    (onChangeElement)="updateRequirementElement($event)"
    (onChangeAmount)="updateRequirementAmount($event)"
  ></polo-requirement>
</div>
