<polo-dropdown-buttons label="Crear">
  <button (click)="createRequirement('stat')">Stat</button>
  <button (click)="createRequirement('condition')">Condition</button>
</polo-dropdown-buttons>
<div class="requirements__list">
  <polo-requirement
    *ngFor="let requirement of requirements"
    (onDelete)="deleteRequirement($event)"
    [id]="requirement.id"
    [amount]="requirement.amount"
    [type]="requirement.type"
    (onChangeElement)="updateRequirementElement($event)"
    (onChangeAmount)="updateRequirementAmount($event)"
  ></polo-requirement>
</div>
