<p>Buscador</p>
<polo-dropdown-buttons label="Crear">
  <button (click)="createRequirement('stat')">Stat</button>
  <button (click)="createRequirement('condition')">Condition</button>
</polo-dropdown-buttons>
<div class="requirements__list">
  <polo-requirement
    *ngFor="let requirement of requirements"
    class="{{ 'requirement--' + requirement.type }}"
    (updateName)="updateRequirementName($event)"
    (updateAmount)="updateRequirementAmount($event)"
    (deleted)="deleteRequirement($event)"
    [id]="requirement.id"
    [type]="requirement.type"
    [requirementName]="requirement.name"
    [requirementAmount]="requirement.amount"
  ></polo-requirement>
</div>
