<div class="notifier">
  <button class="notifier__button" (click)="toggleErrors()">
    📢 @if (errors.length > 0) {
    <span
      class="notifier__button__badge"
      [class]="
        thereAreErrors()
          ? 'notifier__button__badge--severe'
          : 'notifier__button__badge--light'
      "
      >{{ errors.length }}</span
    >
    }
  </button>
  @if (show) {
  <div class="notifier__list">
    @for (error of errors; track $index) {
    <div class="notifier__list__error">
      <p>{{ error.type === 'warning' ? '⚠️' : '⛔️' }} {{ error.text }}</p>
    </div>
    }@empty {
    <p>We can't find any error 🎉</p>
    }
  </div>
  }
</div>
