<div class="loginBox">
  <div class="box">
    <div class="header">
      <p class="logo">Trama</p>
      <h3>{{ 'login.change.title' | t }}</h3>
    </div>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <label>
        <p>{{ 'login.change.password' | t }}</p>
        <input type="password" id="new_password" formControlName="password" />
      </label>
      <label>
        <p>{{ 'login.change.repeat' | t }}</p>
        <input
          id="repeat_new_password"
          type="password"
          formControlName="confirmPassword"
        />
      </label>
      @if (newPasswordForm.hasError('passwordMismatch')) {
        {{ 'login.change.mismatch' | t }}
      }
      <p>{{ feedback ? (feedback | t) : '' }}</p>
      @if(success){
      <a href="/dashboard">{{ 'login.change.dashboard' | t }}</a>
      }
      <polo-basic-button
        [disabled]="!newPasswordForm.valid"
        [text]="'login.change.submit' | t"
      >
      </polo-basic-button>
    </form>
  </div>
</div>
