<div class="loginBox">
  <div class="box">
    <div class="header">
      <p class="logo">Trama</p>
      <h3>Create a new password</h3>
    </div>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <label>
        <p>Your new password</p>
        <input type="password" id="new_password" formControlName="password" />
      </label>
      <label>
        <p>Repeat your new password</p>
        <input
          id="repeat_new_password"
          type="password"
          formControlName="confirmPassword"
        />
      </label>
      @if(newPasswordForm.hasError('passwordMismatch')){ Passwords do not match
      }
      <p>{{ feedback }}</p>
      @if(success){
      <a href="/dashboard">Go to the dashboard</a>
      }
      <polo-basic-button
        [disabled]="!newPasswordForm.valid"
        text="Save new password"
      >
      </polo-basic-button>
    </form>
  </div>
</div>
