<div (click)="closePopup()" class="overlay"></div>
<div class="popup">
  <h3>Requirements</h3>
  <polo-requirements-manager [answerId]="answerId"></polo-requirements-manager>
  <polo-divider></polo-divider>
  <h3>Events</h3>
  <polo-events-manager [answerId]="answerId"></polo-events-manager>
  <polo-divider></polo-divider>
  <ng-container *ngIf="joins.length > 0">
    <h3>Joins</h3>
    <polo-joins-manager
      [answerId]="answerId"
      [joins]="joins"
      (onRemoveJoin)="updateJoins($event)"
    ></polo-joins-manager>
    <polo-divider></polo-divider>
  </ng-container>
  <polo-basic-button
    (click)="removeAnswer()"
    text="Delete answer"
  ></polo-basic-button>
</div>
