<div class="loginBox">
  <div class="box">
    @if (register) {
      <form>
        <h3>Create an account</h3>
        <polo-basic-button
          (click)="(signInWithGoogle)"
          text="Google"
        ></polo-basic-button>
        <label>
          <p>User name</p>
          <input
            id="register_username"
            type="text"
            [formControl]="register_username"
          />
        </label>
        <label>
          <p>Your email</p>
          <input
            id="register_email"
            type="text"
            [formControl]="register_email"
          />
        </label>
        <label>
          <p>New password</p>
          <input
            id="register_password"
            type="password"
            [formControl]="register_password"
          />
        </label>

        @if (checkMail) {
          <div class="checkMailboxMessage">
            <p>Please check your mailbox to confirm your email</p>
          </div>
        }

        <polo-basic-button
          (click)="
            signUpNewUser(
              $event,
              register_email,
              register_password,
              register_username
            )
          "
          [disabled]="false"
          text="Register"
        >
        </polo-basic-button>
        <polo-separator></polo-separator>
        <div class="change">
          <p>Already have an account?</p>
          <polo-basic-button
            (click)="goToLogin()"
            text="Login"
          ></polo-basic-button>
        </div>
      </form>
    } @else {
      <form>
        <h3>Log in</h3>
        <polo-basic-button
          (click)="(signInWithGoogle)"
          text="Google"
        ></polo-basic-button>
        <label>
          <p>Your email</p>
          <input id="login_email" type="text" [formControl]="login_email" />
        </label>
        <label>
          <p>Your password</p>
          <input
            id="login_password"
            type="password"
            [formControl]="login_password"
          />
        </label>
        <polo-basic-button
          (click)="signInWithEmail($event, login_email, login_password)"
          [disabled]="false"
          text="Login"
        >
        </polo-basic-button>
        <polo-separator></polo-separator>
        <div class="change">
          <p>Don't have an account?</p>
          <polo-basic-button
            (click)="goToRegister()"
            text="Register"
          ></polo-basic-button>
        </div>
      </form>
    }
  </div>
</div>
