<div (click)="closePopup()" class="overlay"></div>
<div class="popup">
  <p>Requirements</p>
  <polo-requirements-manager [answerId]="answerId"></polo-requirements-manager>
  <polo-divider></polo-divider>
  <p>Events</p>
  <polo-events-manager [answerId]="answerId"></polo-events-manager>
  <polo-divider></polo-divider>
  <ng-container *ngIf="joins.length > 0">
    <p>Joins</p>
    <polo-joins-manager [answerId]="answerId" [joins]="joins" (onRemoveJoin)="updateJoins($event)"></polo-joins-manager>
    <polo-divider></polo-divider>
  </ng-container>
  <polo-basic-button (click)="removeAnswer()" text="Delete answer"></polo-basic-button>
</div>