<div class="pricing">
  <div
    class="pricing__plan"
    [class.dashed]="dashed"
    [class.currentPlan]="userPlan === 'free'"
  >
    <div class="pricing__plan__header">
      <h2 class="txt-baskerville txt-2">Basic</h2>
      <p class="txt-ralewayItalic">Free</p>
    </div>
    @if(userPlan==='free'){
    <p class="currentPlan">Your current plan</p>
    }
    <p>
      Try our node-based creation tool, test your ideas, share them and check if
      textandplay could work for you
    </p>
    <ul class="pricing__plan__features">
      <li>
        <img src="/assets/images/drawn_icons/tick_3.webp" alt="Success icon" />
        All types of nodes
      </li>
      <li>
        <img src="/assets/images/drawn_icons/tick_3.webp" alt="Success icon" />
        Full flow control
      </li>
      <li>
        <img src="/assets/images/drawn_icons/tick_3.webp" alt="Success icon" />
        Text interpolations
      </li>
      <li>
        <img src="/assets/images/drawn_icons/tick_3.webp" alt="Success icon" />
        Basic customization options
      </li>
      <li>
        <img
          src="/assets/images/drawn_icons/warning_2.webp"
          alt="Warning icon"
        />
        Up to 3 stories
      </li>
      <li>
        <img
          src="/assets/images/drawn_icons/warning_2.webp"
          alt="Warning icon"
        />
        Limited images
      </li>
      <li>
        <img
          src="/assets/images/drawn_icons/warning_2.webp"
          alt="Warning icon"
        />
        Textandplay brand in the stories
      </li>
    </ul>
    @if(!email){
    <polo-landing-link
      destiny="/login?mode=register"
      behaviour="link"
      text="Use free"
    ></polo-landing-link>
    }
  </div>
  <div
    class="pricing__plan recommendedPlan"
    [class.dashed]="dashed"
    [class.currentPlan]="userPlan === 'creator'"
  >
    <div class="pricing__plan__header">
      <h2 class="txt-baskerville txt-2">Creator</h2>
      @if(payAnnually){
      <p class="txt-ralewayItalic">{{ pricing.CREATOR_YEARLY_PRICE }}€/year</p>
      }@else {
      <p class="txt-ralewayItalic">
        {{ pricing.CREATOR_MONTHLY_PRICE }}€/month
      </p>
      }
    </div>
    @if(userPlan==='creator' && canceledSubscription){
    <p class="currentPlan currentPlan--canceled">
      Your current canceled plan, you can enjoy it till the end of this period
    </p>
    }@else if(userPlan==='creator'){
    <p class="currentPlan">Your current plan</p>
    }
    <p>
      Perfect for small businesses and creatives to engage their audiences and
      bring more traffic to their websites and projects
    </p>
    <ul class="pricing__plan__features">
      <li class="txt-gray">Everything from hobby plan</li>
      <li>
        <img src="/assets/images/drawn_icons/tick_4.webp" alt="Success icon" />
        Unlimited stories
      </li>
      <li>
        <img src="/assets/images/drawn_icons/tick_4.webp" alt="Success icon" />
        Unlimited images
      </li>
      <li>
        <img src="/assets/images/drawn_icons/tick_4.webp" alt="Success icon" />
        Customize brand in the stories
      </li>
      <li>
        <img src="/assets/images/drawn_icons/tick_4.webp" alt="Success icon" />
        Share options and external links
      </li>
      <!--li><img src="/assets/images/drawn_icons/tick_4.webp" alt="Success icon" /> Vote and propose new features</li-->
      <!--li><img src="/assets/images/drawn_icons/heart.webp" alt="Success icon" /> Help to keep the project going</li>-->
    </ul>
    @if(userPlan==='creator'){ @if(!preventEasyDowngrading &&
    !canceledSubscription){
    <polo-basic-button
      (click)="cancelSubscription()"
      [waiting]="cancelingSubscription"
      text="Cancel subscription"
      type="danger"
    ></polo-basic-button>
    } }@if(userPlan==='free' || !userPlan) {
    <polo-landing-link
      (click)="subscribe('creator', payAnnually)"
      [highlight]="true"
      text="Be a creator"
    ></polo-landing-link>
    }
  </div>
  <div
    class="pricing__plan"
    [class.dashed]="dashed"
    [class.currentPlan]="userPlan === 'pro'"
  >
    <div class="pricing__plan__header">
      <h2 class="txt-baskerville txt-2">Pro</h2>
      @if(payAnnually){
      <p class="txt-ralewayItalic">{{ pricing.PRO_YEARLY_PRICE }}€/year</p>
      }@else {
      <p class="txt-ralewayItalic">{{ pricing.PRO_MONTHLY_PRICE }}€/month</p>
      }
    </div>
    @if(userPlan==='pro' && canceledSubscription){
    <p class="currentPlan currentPlan--canceled">
      Your current canceled plan, you can enjoy it till the end of this period
    </p>
    }@else if(userPlan==='pro'){
    <p class="currentPlan">Your current plan</p>
    }
    <p>
      Powerful features to gain insights about your audience, track their
      actions in your stories, and reach more people
    </p>
    <ul class="pricing__plan__features">
      <li class="txt-gray">Everything from other plans</li>
      <li>
        <img src="/assets/images/drawn_icons/star_3.webp" alt="Star icon" />
        Analytics of your stories
      </li>
      <li>
        <img src="/assets/images/drawn_icons/star_3.webp" alt="Star icon" />
        Tracking of users actions
      </li>
      <li>
        <img src="/assets/images/drawn_icons/star_3.webp" alt="Star icon" />
        Embed stories on your website
      </li>
      <li>
        <img src="/assets/images/drawn_icons/star_3.webp" alt="Star icon" />
        Priority support
      </li>
      <!--li><img src="/assets/images/drawn_icons/star_3.webp" alt="Star icon" /> Access to creative writting service
          </li-->
    </ul>
    @if(userPlan==='pro'){ @if(!preventEasyDowngrading &&
    !canceledSubscription){
    <polo-basic-button
      (click)="cancelSubscription()"
      [waiting]="cancelingSubscription"
      text="Cancel subscription"
      type="danger"
    ></polo-basic-button>
    } }@if(userPlan==='free' || !userPlan) {
    <!--polo-landing-link
      (click)="subscribe('pro', payAnnually)"
      text="Upgrade to pro"
    ></polo-landing-link-->
    <polo-landing-link text="Coming soon"></polo-landing-link>
    }
  </div>
</div>
