.menu
  --spacing: 0.7rem
  --width: 230px
  --gaps: 0.5rem
  position: fixed
  top: 0
  width: calc(var(--width) + 10px)
  left: calc((var(--width) + 10px) * -1)
  transition: 0.2s ease
  &.fixedMenu
    left: 0
  &:not(.fixedMenu):hover
    left: 0
  &:not(.fixedMenu) nav
    box-shadow: var(--shadow-elevation-high)

  nav
    display: flex
    flex-direction: column
    gap: 2rem
    position: relative
    margin-top: 50px
    box-sizing: border-box
    width: var(--width)
    background: var(--light-gray)
    padding: 1rem
    box-shadow: var(--shadow-elevation-medium)
    transition: 0.4s ease
    border-radius: 1rem
    height: auto
    section
      display: flex
      flex-direction: column
      gap: var(--gaps)
    h4
      padding-left: var(--spacing)
      color: var(--light-text)
      line-height: 1
    .nav__title
      display: flex
      align-items: center
      justify-content: space-between

    ul
      display: flex
      flex-direction: column
      gap: var(--gaps)
      li
        position: relative
        display: flex
        align-items: center
        gap: 5px
        cursor: pointer
        padding: var(--spacing)
        border-radius: 7px
        font-weight: 600
        img.action
          position: absolute
          right: 15px
          opacity: 0
          transition: 0.2s ease
        &:hover, &.active
          background: var(--medium-gray)
        &:hover
          img.action
            right: 7px
            opacity: 1
            display: block

  &.fixedMenu
    height: 100vh
  &.fixedMenu nav
    margin-top: 0
    border-radius: 0
    height: 100%
.openMenu
  position: fixed
  left: 10px
  top: 10px
