<div [class.fixedMenu]="fixedMenu" class="menu">
  <nav>
    <section>
      <div class="nav__title">
        <h4>{{ db.user()?.profile?.user_name }}</h4>
        @if (fixedMenu) {
          <polo-basic-button
            class="menuToggler"
            icon="/assets/icons/chevron-left.svg"
            (click)="toggleMenu()"
          ></polo-basic-button>
        }
      </div>
      <ul>
        <li (click)="openProfile()">
          <img width="12px" src="/assets/icons/configuration.svg" alt="" />
          {{ 'dashboard.menu.account' | t }}
        </li>
        <li>
          <img width="12px" src="/assets/icons/docs.svg" alt="" />
          {{ 'dashboard.menu.docs' | t }}<img
            class="action"
            width="15px"
            src="/assets/icons/external-link.svg"
          />
        </li>
      </ul>
    </section>

    <section>
      <div class="nav__title">
        <h4>{{ 'dashboard.menu.stories' | t }}</h4>
        <polo-basic-button
          [iconSize]="10"
          icon="/assets/icons/plus.svg"
          (click)="createNewTree()"
          [title]="'dashboard.menu.newStory' | t"
        ></polo-basic-button>
      </div>
      <ul>
        @for (story of stories(); track story.id) {
          <li (click)="loadTree(story.id)" [class.active]="story.id === activeStory.storyId()">
            {{ story.name }}
            <img class="action" width="15px" src="/assets/icons/arrow-right.svg" />
          </li>
        }
      </ul>
    </section>

    <section>
      <polo-basic-button
        [text]="'dashboard.menu.feedback' | t"
        icon="/assets/icons/user-info.svg"
        (click)="openFeedbackModal()"
        [transparent]="true"
        [border]="true"
      >
      </polo-basic-button>
    </section>
  </nav>
  @if (!fixedMenu) {
    <polo-basic-button
      class="openMenu"
      icon="/assets/icons/hamburger-menu.svg"
      (click)="toggleMenu()"
    ></polo-basic-button>
  }
</div>
