<div class="node__events">
  <polo-anchored-popover #addEventPopover [closeOnEscape]="false">
    <button
      popoverTrigger
      class="node__addEventButton"
      type="button"
      aria-haspopup="dialog"
      [attr.aria-expanded]="addEventPopover.isOpen"
      aria-label="Add event"
      title="Add event"
      (click)="addEventPopover.open()"
    >
      <img src="/assets/icons/plus.svg" alt="" />
      @if (!events || events.length === 0) {
        <p>Add event</p>
      }
    </button>
    <ng-template poloPopoverContent>
      <polo-node-add-event
        class="anchoredAddEvent"
        (onSaveEvent)="saveEvent($event)"
        (onClose)="addEventPopover.close()"
      ></polo-node-add-event>
    </ng-template>
  </polo-anchored-popover>
  @for (event of events; track event.target) {
    <polo-node-event
      [type]="event.type"
      [amount]="event.amount"
      [target]="event.target"
      [property]="event.property"
      (onSaveEvent)="saveEvent($event)"
      (onDeleteEvent)="deleteEvent($event)"
    ></polo-node-event>
  }
</div>
