<div class="node__events">
  <button class="node__addEventButton" (click)="openAddEvent = true">
    <img src="/assets/icons/plus.svg" alt="Add event" />
    @if (!events || events.length === 0) {
      <p>Add event</p>
    }
  </button>
  @for (event of events; track event.target) {
    <polo-node-event
      [type]="event.type"
      [amount]="event.amount"
      [target]="event.target"
      [property]="event.property"
      (onSaveEvent)="saveEvent($event)"
      (onDeleteEvent)="deleteEvent($event)"
    ></polo-node-event>
  }
  @if (openAddEvent) {
    <div class="node__addEvent">
      <polo-node-add-event
        (onSaveEvent)="saveEvent($event)"
        (onClose)="openAddEvent = false"
      ></polo-node-add-event>
    </div>
  }
</div>
