<div class="condition" [class.condition--fallback]="fallback">
  @if (fallback) {
    <span class="condition__fallbackIcon" aria-hidden="true">↳</span>
    <div class="condition__fallbackCopy">
      <strong>{{ 'board.route.otherwise' | t }}</strong>
      <span>{{ 'board.route.otherwiseHelp' | t }}</span>
    </div>
  } @else {
    <div class="condition__header">
      <div class="condition__heading">
        <strong>{{ 'board.route.title' | t: { number: routeNumber } }}</strong>
        <span>{{ 'board.route.allRules' | t }}</span>
      </div>
      <div class="condition__actions">
        <polo-basic-button
          size="s"
          [transparent]="true"
          [disabled]="routeNumber === 1"
          [title]="'board.route.upTitle' | t"
          [text]="'board.route.up' | t"
          (click)="moveRoute.emit(-1)"
        ></polo-basic-button>
        <polo-basic-button
          size="s"
          [transparent]="true"
          [disabled]="routeNumber === routeCount"
          [title]="'board.route.downTitle' | t"
          [text]="'board.route.down' | t"
          (click)="moveRoute.emit(1)"
        ></polo-basic-button>
        <polo-basic-button
          size="s"
          [transparent]="true"
          icon="/assets/icons/trash.svg"
          [title]="'board.route.remove' | t"
          (click)="removeCondition()"
        ></polo-basic-button>
      </div>
    </div>
    <div class="condition__rules">
      @for (rule of displayedRules; track $index; let i = $index) {
        @if (i > 0) {
          <span class="condition__and">{{ 'board.route.and' | t }}</span>
        }
        <div class="condition__rule">
          <label class="condition__field">
            <span>{{ 'board.route.reference' | t }}</span>
            <select id="ref" [attr.aria-label]="'board.route.referenceLabel' | t" (change)="saveCondition($event, rule, i)">
              <option [selected]="!rule.ref">{{ 'board.route.none' | t }}</option>
              @for (ref of refOptions; track ref.id) {
                <option [selected]="rule.ref === ref.id" [id]="ref.id">{{ ref.name }}</option>
              }
            </select>
          </label>
          <div class="condition__comparison">
            <label class="condition__field">
              <span>{{ 'board.route.rule' | t }}</span>
              <select id="comparator" [attr.aria-label]="'board.route.comparatorLabel' | t" (change)="saveCondition($event, rule, i)">
                <option [selected]="!rule.comparator">{{ 'board.route.none' | t }}</option>
                <option [selected]="rule.comparator === 'equalto'" id="equalto">{{ 'board.route.equalTo' | t }}</option>
                <option [selected]="rule.comparator === 'lessthan'" id="lessthan">{{ 'board.route.lessThan' | t }}</option>
                <option [selected]="rule.comparator === 'morethan'" id="morethan">{{ 'board.route.moreThan' | t }}</option>
              </select>
            </label>
            <label class="condition__field condition__field--value">
              <span>{{ 'board.route.value' | t }}</span>
              <input id="value" [attr.aria-label]="'board.route.valueLabel' | t" (change)="saveCondition($event, rule, i)" [type]="isProperty(rule.ref) ? 'text' : 'number'" [value]="rule.value ?? 0" />
            </label>
            @if (displayedRules.length > 1) {
              <polo-basic-button
                class="condition__deleteRule"
                size="s"
                [transparent]="true"
                icon="/assets/icons/trash.svg"
                [title]="'board.route.removeRule' | t"
                (click)="removeRule(i)"
              ></polo-basic-button>
            }
          </div>
        </div>
      }
    </div>
    <polo-basic-button
      class="condition__addRule"
      size="s"
      [text]="'board.route.addRule' | t"
      (click)="addRule()"
    ></polo-basic-button>
  }
</div>
<div
  class="union_point"
  [attr.data-board-origin]="conditionId"
  [poloBoardAnchor]="conditionId + '_join'"
  [class.union_point--hasJoin]="hasJoin"
></div>
