<div class="node">
  <header>
    <span id="{{ nodeId + '_joiner' }}" class="joiner"></span>
    <ng-content select="dragHandle"> </ng-content>

    <polo-basic-button
      [transparent]="true"
      title="Duplicate node"
      icon="/assets/icons/hamburger-menu.svg"
      (click)="optionsOpen = true"
    ></polo-basic-button>
    @if (optionsOpen) {
      <div class="node__options">
        <polo-node-options
          [type]="type"
          [nodeId]="nodeId"
          (onAddImage)="onAddImage($event)"
          (onDuplicateNode)="onDuplicateNode()"
          (onRemoveNode)="onRemoveNode()"
          (onClose)="optionsOpen = false"
        ></polo-node-options>
      </div>
    }
  </header>
  <div class="node__events">
    <polo-node-events [events]="events" [nodeId]="nodeId"></polo-node-events>
  </div>
  <main>
    @if (type === 'distributor') {
      @if (conditions && conditions.length > 0) {
        <div class="node__answers">
          @for (condition of conditions; track condition.id) {
            <polo-condition
              id="{{ condition.id }}"
              [selectedRef]="condition.ref"
              [comparator]="condition.comparator"
              [value]="condition.value"
              [hasJoin]="!!(condition.join && condition.join.length > 0)"
              (onRemoveCondition)="removeCondition($event)"
            ></polo-condition>
          }
        </div>
      }
      <polo-condition
        id="{{ 'condition_' + nodeId.split('_')[1] + '_fallback' }}"
        [fallback]="true"
        (onRemoveCondition)="removeCondition($event)"
      ></polo-condition>
    } @else if (type === 'end') {
      @if (image || loading) {
        <polo-image
          (onRemoveImage)="removeNodeImage()"
          [storageRoute]="image"
          [loading]="loading"
          [loadingMessage]="loadingMessage"
          [canDelete]="true"
        ></polo-image>
      }
      <textarea #textarea (change)="saveNodeText($event)">{{ text }}</textarea>
      <div class="node__linkoptions">
        @if (database.user() && database.user().profile.subscription_status === 'active') {
          <div class="node__linkoptions__header">
            <p class="node__linkoptions__header__title">External links</p>
            <polo-basic-button (click)="addExternalLink()" text="add">add</polo-basic-button>
          </div>
          <label class="node__linkoptions__link">
            @for (link of links | keyvalue; track $index) {
              <input
                (change)="updateLinks()"
                [(ngModel)]="links[$index].name"
                type="text"
                placeholder="Link text"
              /><input
                (change)="updateLinks()"
                [(ngModel)]="links[$index].url"
                type="text"
                placeholder="Link URL"
              />
            }
          </label>
        } @else {
          <p class="node__linkoptions__header__title">External links</p>
          <p>
            With external links, you can lead your users to your products, websites or social
            network as part of your story.
          </p>
          <p>External links are not allowed in the free plan.</p>
        }
      </div>
      @if (activeStory.storyConfiguration().sharing) {
        <div class="node__shareoptions">
          <label class="node__shareoptions__toggle">
            <p class="node__shareoptions__toggle__title">Share customizations</p>
            <input [(ngModel)]="openedShareOptions" type="checkbox" />
          </label>
          @if (openedShareOptions) {
            <label class="node__shareoptions__option">
              <p>Custom shared text</p>
              <textarea (change)="updateShareOptions()" [(ngModel)]="shareOptions.sharedText">
              </textarea>
            </label>
            <label class="node__shareoptions__option">
              <p>Custom share button text</p>
              <input
                type="text"
                (change)="updateShareOptions()"
                [(ngModel)]="shareOptions.shareButtonText"
              />
            </label>
          }
        </div>
      }
    } @else if (type === 'content') {
      @if (image || loading) {
        <polo-image
          (onRemoveImage)="removeNodeImage()"
          [storageRoute]="image"
          [loading]="loading"
          [loadingMessage]="loadingMessage"
          [canDelete]="true"
        ></polo-image>
      }
      @if (!answers || answers.length === 0) {
        <div
          id="{{ nodeId + '_join' }}"
          class="union_point"
          [class.union_point--hasJoin]="join && join.length > 0"
        ></div>
      }
      <textarea #textarea (change)="saveNodeText($event)">{{ text }}</textarea>
      @if (answers && answers.length > 0) {
        <div class="node__answers">
          <span id="{{ nodeId + '_joiner--answers' }}" class="joiner joiner--answers"></span>
          @for (answer of answers; track answer.id) {
            <polo-answer
              id="{{ answer.id }}"
              [text]="answer.text"
              [hasJoin]="!!(answer.join && answer.join.length > 0)"
              (onRemoveAnswer)="removeAnswer($event)"
            ></polo-answer>
          }
        </div>
      }
    } @else if (type === 'text') {
      @if (image || loading) {
        <polo-image
          (onRemoveImage)="removeNodeImage()"
          [storageRoute]="image"
          [loading]="loading"
          [loadingMessage]="loadingMessage"
          [canDelete]="true"
        ></polo-image>
      }
      <div
        id="{{ nodeId + '_join' }}"
        class="union_point"
        [class.union_point--hasJoin]="join && join.length > 0"
      ></div>
      <textarea #textarea (change)="saveNodeText($event)">{{ text }}</textarea>
      <label>
        <p>Property</p>
        <input
          type="text"
          (change)="saveProperty($event)"
          name="property"
          value="{{ userTextOptions?.property }}"
        />
      </label>
      <label>
        <p>Placeholder</p>
        <input
          type="text"
          (change)="savePlaceholder($event)"
          name="placeholder"
          value="{{ userTextOptions?.placeholder }}"
        />
      </label>
      <label>
        <p>Button text</p>
        <input
          type="text"
          (change)="saveButtonText($event)"
          name="buttonText"
          value="{{ userTextOptions?.buttonText }}"
        />
      </label>
      <label>
        <p>Description</p>
        <textarea
          (change)="saveDescription($event)"
          name="description"
          value="{{ userTextOptions?.description }}"
        ></textarea>
      </label>
    }
  </main>
  <footer>
    <p>{{ nodeId }}</p>
    @if (type === 'distributor') {
      <polo-basic-button (click)="addCondition()" text="Add condition"></polo-basic-button>
    } @else if (type === 'content') {
      <polo-basic-button (click)="addAnswer()" text="Add answer"></polo-basic-button>
    }
  </footer>
</div>
