@if (type !== 'distributor') {
  <input
    #shortcutImageInput
    class="node__shortcutImageInput"
    type="file"
    accept="image/*"
    [attr.aria-label]="'board.node.addImage' | t"
    hidden
    (change)="onAddImage($event)"
  />
}
<div
  class="node"
  [class.node--text]="type === 'text'"
  [class.node--content]="type === 'content'"
  [class.node--distributor]="type === 'distributor'"
  [class.node--end]="type === 'end'"
  [attr.data-board-join-node]="nodeId"
  [attr.data-board-join-anchor]="nodeId + '_joiner'"
  data-board-join-to-answers="false"
>
  <header class="node__header" cdkDragHandle tabindex="0">
    <span
      class="joiner"
      [poloBoardAnchor]="nodeId + '_joiner'"
    ></span>
    <div class="node__heading">
      <polo-editable-name
        class="node__name"
        [dragHandle]="true"
        [label]="'board.node.nameLabel' | t: { type: kindName(), id: nodeId }"
        [value]="name === nodeId ? '' : name || ''"
        [placeholder]="nodeId"
        (valueChanged)="saveNodeName($event)"
      ></polo-editable-name>
      <div class="node__typeRow">
        <span class="node__type">{{ typeName() }}</span>
        <polo-context-help [topic]="nodeHelpTopics[type]"></polo-context-help>
      </div>
    </div>

    <polo-basic-button
      class="node__menuButton"
      size="s"
      [transparent]="true"
      [title]="'board.node.options' | t"
      icon="/assets/icons/hamburger-menu.svg"
      (pointerdown)="$event.stopPropagation()"
      (click)="optionsOpen = true"
    ></polo-basic-button>
    @if (optionsOpen) {
      <div class="node__options" (pointerdown)="$event.stopPropagation()">
        <polo-node-options
          [type]="type"
          [nodeId]="nodeId"
          [frameName]="frameName"
          (removeFromFrame)="onRemoveFromFrame()"
          (onAddImage)="onAddImage($event)"
          (onDuplicateNode)="onDuplicateNode()"
          (onRemoveNode)="onRemoveNode()"
          (onClose)="optionsOpen = false"
        ></polo-node-options>
      </div>
    }
  </header>
  <div class="node__events">
    <polo-node-events [events]="events" [nodeId]="nodeId"></polo-node-events>
  </div>
  @if (type !== 'distributor' && (image || loading() || loadingMessage())) {
    <polo-image
      (onRemoveImage)="removeNodeImage()"
      [storageRoute]="image"
      [loading]="loading()"
      [loadingMessage]="loadingMessage()"
      [canDelete]="true"
    ></polo-image>
  }
  <main class="node__body">
    @if (type === 'distributor') {
      @if (conditions && conditions.length > 0) {
        <div class="node__answers" poloSortableList (sorted)="reorderCondition($event)" (sorting)="listSorting($event)">
          @for (condition of conditions; track condition.id; let i = $index) {
            <polo-condition
              [attr.data-sortable-id]="condition.id"
              [conditionId]="condition.id"
              [selectedRef]="condition.ref || ''"
              [comparator]="condition.comparator || ''"
              [value]="condition.value ?? 0"
              [rules]="condition.rules"
              [routeNumber]="i + 1"
              [routeCount]="conditions.length"
              [hasJoin]="!!(condition.join && condition.join.length > 0)"
              (onRemoveCondition)="removeCondition($event)"
              (moveRoute)="moveCondition(condition.id, $event)"
            ></polo-condition>
          }
        </div>
        <span class="node__sortAnnouncement" role="status" aria-live="polite">{{ routeOrderAnnouncement() }}</span>
      }
      <polo-condition
        [conditionId]="'condition_' + nodeId.split('_')[1] + '_fallback'"
        [fallback]="true"
        [hasJoin]="!!(fallbackCondition && fallbackCondition.join && fallbackCondition.join.length)"
        (onRemoveCondition)="removeCondition($event)"
      ></polo-condition>
    } @else if (type === 'end') {
      <polo-rich-text-field
        class="richTextField--plain"
        [label]="'board.node.endText' | t"
        [text]="text"
        [placeholder]="'board.node.endPlaceholder' | t"
        (saved)="saveRichText($event)"
      />
      <div class="node__linkoptions">
        @if (database.user()?.profile?.subscription_status === 'active') {
          <div class="node__linkoptions__header">
            <p class="node__linkoptions__header__title">{{ 'board.node.externalLinks' | t }}</p>
            <polo-basic-button
              (click)="addExternalLink()"
              [text]="'board.node.addLink' | t"
            ></polo-basic-button>
          </div>
          <label class="node__linkoptions__link">
            @for (link of links | keyvalue; track $index) {
              <input
                (change)="updateLinks()"
                [(ngModel)]="links[$index].name"
                type="text"
                [placeholder]="'board.node.linkText' | t"
              /><input
                (change)="updateLinks()"
                [(ngModel)]="links[$index].url"
                type="text"
                [placeholder]="'board.node.linkUrl' | t"
              />
            }
          </label>
        } @else {
          <p class="node__linkoptions__header__title">{{ 'board.node.externalLinks' | t }}</p>
          <p>{{ 'board.node.linksPitch' | t }}</p>
          <p>{{ 'board.node.linksFree' | t }}</p>
        }
      </div>
      @if (activeStory.storyConfiguration().sharing) {
        <div class="node__shareoptions">
          <label class="node__shareoptions__toggle">
            <p class="node__shareoptions__toggle__title">{{ 'board.node.shareCustomizations' | t }}</p>
            <input [(ngModel)]="openedShareOptions" type="checkbox" />
          </label>
          @if (openedShareOptions) {
            <div class="node__shareoptions__option">
              <label [for]="nodeId + '-shared-text'">{{ 'board.node.sharedText' | t }}</label>
              <textarea [id]="nodeId + '-shared-text'" (change)="updateShareOptions()" [(ngModel)]="shareOptions.sharedText">
              </textarea>
            </div>
            <label class="node__shareoptions__option">
              <p>{{ 'board.node.shareButtonText' | t }}</p>
              <input
                type="text"
                (change)="updateShareOptions()"
                [(ngModel)]="shareOptions.shareButtonText"
              />
            </label>
          }
        </div>
      }
    } @else if (type === 'content') {
      @if (!answers || answers.length === 0) {
        <div
          class="union_point"
          [attr.data-board-origin]="nodeId"
          [poloBoardAnchor]="nodeId + '_join'"
          [class.union_point--hasJoin]="join && join.length > 0"
        ></div>
      }
      <polo-rich-text-field
        class="richTextField--plain"
        [label]="'board.node.text' | t"
        [text]="text"
        (saved)="saveRichText($event)"
      />
      @if (answers && answers.length > 0) {
        <div
          class="node__answers"
          poloSortableList
          (sorted)="reorderAnswer($event)"
          (sorting)="listSorting($event)"
          [attr.data-board-join-node]="nodeId"
          [attr.data-board-join-anchor]="nodeId + '_joiner--answers'"
          data-board-join-to-answers="true"
        >
          <span
            class="joiner joiner--answers"
            [poloBoardAnchor]="nodeId + '_joiner--answers'"
          ></span>
          @for (answer of answers; track answer.id) {
            <polo-answer
              [attr.data-sortable-id]="answer.id"
              [reorderable]="answers.length > 1"
              [answerId]="answer.id"
              [text]="answer.text || ''"
              [events]="answer.events || []"
              [requirements]="answer.requirements || []"
              [hasJoin]="!!(answer.join && answer.join.length > 0)"
              (onRemoveAnswer)="removeAnswer($event)"
            ></polo-answer>
          }
        </div>
        <span class="node__sortAnnouncement" role="status" aria-live="polite">{{ answerOrderAnnouncement() }}</span>
      }
    } @else if (type === 'text') {
      <div
        class="union_point"
        [attr.data-board-origin]="nodeId"
        [poloBoardAnchor]="nodeId + '_join'"
        [class.union_point--hasJoin]="join && join.length > 0"
      ></div>
      <polo-form-field [label]="'board.node.prompt' | t" [showOptional]="false">
        <polo-rich-text-field
          class="richTextField--plain"
          [label]="'board.node.prompt' | t"
          [text]="text"
          [placeholder]="'board.node.promptPlaceholder' | t"
          (saved)="saveRichText($event)"
        />
      </polo-form-field>
      <polo-form-field
        #propertyField
        [label]="'board.node.property' | t"
        [controlId]="nodeId + '-property'"
        [showOptional]="false"
        [description]="'board.node.propertyHelp' | t"
      >
        <input
          class="node__fieldControl"
          [id]="nodeId + '-property'"
          [attr.aria-describedby]="propertyField.descriptionId"
          type="text"
          (change)="saveProperty($event)"
          name="property"
          value="{{ userTextOptions?.property }}"
        />
      </polo-form-field>
      <polo-form-field
        #placeholderField
        [label]="'board.node.placeholder' | t"
        [controlId]="nodeId + '-placeholder'"
        [showOptional]="false"
        [description]="'board.node.placeholderHelp' | t"
      >
        <input
          class="node__fieldControl"
          [id]="nodeId + '-placeholder'"
          [attr.aria-describedby]="placeholderField.descriptionId"
          type="text"
          (change)="savePlaceholder($event)"
          name="placeholder"
          value="{{ userTextOptions?.placeholder }}"
        />
      </polo-form-field>
      <polo-form-field
        #buttonTextField
        [label]="'board.node.buttonText' | t"
        [controlId]="nodeId + '-buttonText'"
        [showOptional]="false"
        [description]="'board.node.buttonTextHelp' | t"
      >
        <input
          class="node__fieldControl"
          [id]="nodeId + '-buttonText'"
          [attr.aria-describedby]="buttonTextField.descriptionId"
          type="text"
          (change)="saveButtonText($event)"
          name="buttonText"
          value="{{ userTextOptions?.buttonText }}"
        />
      </polo-form-field>
      <polo-form-field
        #descriptionField
        [label]="'board.node.description' | t"
        [controlId]="nodeId + '-description'"
        [showOptional]="false"
        [description]="'board.node.descriptionHelp' | t"
      >
        <textarea
          class="node__fieldControl"
          [id]="nodeId + '-description'"
          [attr.aria-describedby]="descriptionField.descriptionId"
          (change)="saveDescription($event)"
          name="description"
          value="{{ userTextOptions?.description }}"
        ></textarea>
      </polo-form-field>
    }
  </main>
  @if (type === 'distributor' || type === 'content') {
    <footer class="node__footer">
      @if (type === 'distributor') {
        <polo-basic-button
          (click)="addCondition()"
          [text]="'board.node.addRoute' | t"
        ></polo-basic-button>
      } @else {
        <polo-basic-button
          (click)="addAnswer()"
          [text]="'board.node.addAnswer' | t"
        ></polo-basic-button>
      }
    </footer>
  }
</div>
