<polo-modal-window>
  <ng-container modal-content>
    @if(db.user().profile.subscription_status==='incomplete'){
    <p>
      You need to complete the payment. If the payment has been completed,
      refresh the page
    </p>
    }
    <p>Plans</p>
    <polo-billing-cycle
      (onChangePayingPeriod)="payAnnually = $event === 'annual' ? true : false"
    ></polo-billing-cycle>
    <polo-pricing
      [currentPlan]="db.user().profile.plan"
      [payAnnually]="payAnnually"
      [email]="db.user().email"
    ></polo-pricing>
    <polo-basic-button
      (click)="changePassword()"
      text="Change your password"
    ></polo-basic-button>
    <polo-basic-button (click)="logout()" text="Logout"></polo-basic-button>
  </ng-container>
</polo-modal-window>
