<polo-modal-window name="Profile options">
  <ng-container modal-content>
    @if(db.user().profile.subscription_status==='incomplete'){
    <p>
      You need to complete the payment. If the payment has been completed,
      refresh the page
    </p>
    }
    <p>Plans</p>
    @if(db.user().profile.subscription_status === 'canceled'){
    <p>
      You will not be charged, but you can enjoy the features of the plan till
      {{ db.user().profile.next_payment }}
    </p>
    }@else{
    <p>Your next payment will be {{ db.user().profile.next_payment }}</p>
    }
    <polo-billing-cycle
      (onChangePayingPeriod)="payAnnually = $event === 'annual' ? true : false"
    ></polo-billing-cycle>
    <polo-pricing
      [canceledSubscription]="
        db.user().profile.subscription_status === 'canceled'
      "
      [userPlan]="db.user().profile.plan || 'free'"
      [payAnnually]="payAnnually"
      [email]="db.user().email"
    ></polo-pricing>
    @if(db.user().email){
    <polo-basic-button
      (click)="changePassword()"
      text="Change your password"
    ></polo-basic-button>
    }
    <polo-basic-button (click)="logout()" text="Logout"></polo-basic-button>
  </ng-container>
</polo-modal-window>
