<div class="menu">
  <input
    (change)="updateStoryName($event)"
    value="{{ activeStory.storyName() }}"
  />
  <button
    (click)="saveToDb()"
    [class.boardActions__save]="!savingTree"
    [class.boardActions__waiting]="savingTree"
  >
    Save
  </button>
  <button (click)="toggleOptions()">Options</button>
  @if(options){
  <div class="dropdown">
    <label>
      <span>Enable tracking</span>
      <input
        (change)="toggleTracking()"
        type="checkbox"
        [checked]="activeStory.storyConfiguration().tracking"
      />
    </label>
    <label>
      <span>Ask for name</span>
      <input
        (change)="toggleAskName()"
        type="checkbox"
        [checked]="activeStory.storyConfiguration().askName"
      />
    </label>
    <label>
      <span>Enable sharing</span>
      <input
        (change)="toggleSharing()"
        type="checkbox"
        [checked]="activeStory.storyConfiguration().sharing"
      />
    </label>
    <label>
      <span>Cumulative view</span>
      <input
        (change)="toggleCumulativeView()"
        type="checkbox"
        [checked]="activeStory.storyConfiguration().cumulativeView"
      />
    </label>
    <button (click)="openStadistics()">See stadistics</button>
    <button (click)="exportTree()" class="boardActions__export">
      Export tree
    </button>
    <button (click)="deleteTree()" class="boardActions__delete">
      Delete tree
    </button>
  </div>
  }
</div>
