.menu
  display: flex
  gap: 0.5rem
  background-color: white
  padding: 0.3rem 1rem
  border-radius: 5px
  box-shadow: var(--menu-shadow)
  input
    border: none
    font-weight: 600
    &:hover
      &:not(:focus)
        background-image: url("/assets/icons/edit.svg")
        background-repeat: no-repeat
        background-position: left center
        background-size: 16px
        text-indent: 1.2rem
    &:not(:focus)
      cursor: pointer
  .dropdown
    position: absolute
    top: calc(100% + 0.5rem)
    right: 0
    background-color: white
    display: flex
    flex-direction: column
    gap: 0.5rem
    width: 160px
    border: 1px solid var(--dark-gray)
    padding: 1rem
    border-radius: 5px
    label
      display: flex
      flex-direction: row
      justify-content: space-between
.boardActions__save
  padding-right: 2.3rem
  background-image: url("/assets/icons/save.svg")
  background-repeat: no-repeat
  background-position: right 0.5rem center
  background-size: 16px
.boardActions__waiting
  padding-right: 2.3rem
  background-image: url("/assets/icons/waiting.svg")
  background-repeat: no-repeat
  background-position: right 0.5rem center
  background-size: 16px
