.menu
  display: flex
  gap: 0.5rem
  background-color: white
  padding: 0.3rem 0.3rem 0.3rem 0.5rem
  border-radius: 5px
  box-shadow: var(--menu-shadow)
  input
    border: none
    font-weight: 600
    &.alert
      outline: 1px solid #fd8181
    &:hover, &:focus
      background-image: url("/assets/icons/edit.svg")
      background-repeat: no-repeat
      background-position: left 3px center
      background-size: 16px
      text-indent: 1.2rem
    &:not(:focus)
      cursor: pointer
  .dropdown
    position: absolute
    top: calc(100% + 0.5rem)
    right: 0
    background-color: white
    display: flex
    flex-direction: column
    gap: 0.5rem
    width: 160px
    box-shadow: var(--menu-shadow)
    padding: 1rem
    border-radius: 5px
    &__section
      margin-bottom: 0.5rem
    input
      border: 1px solid var(--medium-gray)
    label
      display: flex
      flex-direction: row
      justify-content: space-between
      &.label--column
        flex-direction: column
