<div class="addEvent">
  <div class="addEvent__type">
    <div class="addEvent__type__item" [class.active]="type === 'stat'" (click)="type = 'stat'">
      <p>Stat</p>
    </div>
    <div
      class="addEvent__type__item"
      [class.active]="type === 'condition'"
      (click)="type = 'condition'"
    >
      <p>Condition</p>
    </div>
  </div>
  <div class="addEvent__content">
    <polo-node-add-modify-event
      [type]="type"
      [selectedOption]="target"
      [amount]="amount"
      (onChangeTarget)="onChangeTarget($event)"
      (onChangeAmount)="onChangeAmount($event)"
    ></polo-node-add-modify-event>
  </div>
  <div class="addEvent__actions">
    <button class="addEvent__actions__button" (click)="onCancel()">Cancel</button>
    <button class="addEvent__actions__button" (click)="saveEvent()">Ok</button>
  </div>
</div>
