<figure class="image" [class.image--loading]="loading || loadingMessage">
  @if (loading) {
    <img class="image__spinner" src="/assets/icons/loading.svg" alt="" />
  }
  @if (loadingMessage) {
    <figcaption class="image__message">{{ loadingMessage }}</figcaption>
  } @else if (storageRoute) {
    <img
      class="image__preview"
      [src]="'https://lsemostpqoguehpsbzgu.supabase.co/storage/v1/object/public/images/' + storageRoute"
      alt="Node illustration"
    />
    @if (canDelete) {
      <polo-basic-button
        class="image__remove"
        size="s"
        type="danger"
        icon="/assets/icons/trash.svg"
        text="Remove"
        title="Remove image"
        (click)="onRemoveImage.emit()"
      ></polo-basic-button>
    }
  }
</figure>
