<polo-dropdown-buttons label="Crear">
  <button (click)="createEvent('alterStat')">Alter Stat</button>
  <button (click)="createEvent('alterCondition')">Alter Condition</button>
  <button (click)="createEvent('win')">Win</button>
  <button (click)="createEvent('end')">End</button>
</polo-dropdown-buttons>
<div class="events__list">
  <polo-event
    *ngFor="let event of events"
    (onDelete)="deleteEvent($event)"
    [id]="event.target"
    [amount]="event.amount"
    [action]="event.action"
    (onChangeElement)="updateEventElement($event)"
    (onChangeAmount)="updateEventAmount($event)"
  ></polo-event>
</div>
