.legend
  position: fixed
  bottom: 1rem
  right: 1rem
  width: 220px
  background-color: white
  box-shadow: var(--menu-shadow)
  padding: 0.3rem
  border-radius: 5px
  &__header
    display: flex
    gap: 1rem
    justify-content: flex-end
  &__content
    height: 100px
    padding: 0.7rem
    &__title
      font-weight: 600
