<div class="legend">
  @if(showLegend){
  <div class="legend__content">
    <div class="legend__content__title">
      <polo-basic-button
        (click)="toggleLegend()"
        [icon]="
          showLegend
            ? '/assets/icons/chevron-down.svg'
            : '/assets/icons/chevron-up.svg'
        "
        title="Toggle legend"
      ></polo-basic-button>
      <p>Legend</p>
      <div class="legend__content__title__buttons">
        <polo-basic-button
          (click)="mode = 'refs'"
          [selected]="mode === 'refs'"
          icon="/assets/icons/tag.svg"
          text="Stats"
          title="Stats and conditions"
        ></polo-basic-button>
        @if (db.user().profile.subscription_status==='active' &&
        db.user().profile.plan==='pro') {
        <polo-basic-button
          (click)="mode = 'games'"
          [selected]="mode === 'games'"
          text="Activity"
          icon="/assets/icons/user-info.svg"
          title="Games played by users"
        ></polo-basic-button>
        }
      </div>
    </div>
    @if (mode === 'refs' && showLegend) {
    <div class="legend__content__refs">
      @for (ref of arrayOfRefs; track $index) {
      <div
        class="tag"
        (mouseover)="focusNodesWith(ref.id)"
        (mouseleave)="blurNodesWith(ref.id)"
      >
        <span class="tag__type tag__type--{{ ref.type }}"></span>

        <div class="tag__names">
          <input
            type="text"
            (change)="updateRefName($event, ref.id)"
            value="{{ ref.name }}"
          />
          <p class="tag__names__id">{{ ref.id }}</p>
        </div>
        <p class="tag__times">
          Used <span>{{ ref.times }}</span> times
        </p>
        <polo-basic-button
          class="tag__category"
          [class.tag__category--empty]="!ref.category"
          (click)="openSelectorFor($event, ref.id)"
          text="{{ ref.category || 'Add category' }}"
        >
        </polo-basic-button>
      </div>
      } @for (ref of unusedRefs; track $index) {
      <div class="tag">
        <span class="tag__type tag__type--{{ ref.type }}"></span>
        <div class="tag__names">
          <input
            type="text"
            (change)="updateRefName($event, ref.id)"
            value="{{ ref.name }}"
          />
          <p class="tag__names__id">{{ ref.id }}</p>
        </div>
        <span class="tag__delete" (click)="deleteRef(ref.id)"></span>
      </div>
      }
    </div>
    } @else if (mode === 'games' && showLegend) {
    <div class="legend__content__stadistics">
      <polo-stadistics-layer></polo-stadistics-layer>
    </div>
    }
  </div>
  }
  <div class="legend__header">
    @if(!showLegend){
    <polo-basic-button
      (click)="toggleLegend()"
      [icon]="
        showLegend
          ? '/assets/icons/chevron-down.svg'
          : '/assets/icons/chevron-up.svg'
      "
      title="Toggle legend"
    ></polo-basic-button>
    <p>Legend</p>
    }
    <div class="legend__header__buttons">
      <polo-basic-button
        (click)="goToPlayground()"
        text="Preview"
      ></polo-basic-button>
      <polo-basic-button
        (click)="openShareModal()"
        text="Share"
      ></polo-basic-button>
    </div>
  </div>
</div>
