@font-face
  font-family: "Spartan"
  src: url("./assets/fonts/Spartan-Regular.ttf")
  font-weight: 400
@font-face
  font-family: "Spartan"
  src: url("./assets/fonts/Spartan-Medium.ttf")
  font-weight: 500
@font-face
  font-family: "Spartan"
  src: url("./assets/fonts/Spartan-SemiBold.ttf")
  font-weight: 600
@font-face
  font-family: "Spartan"
  src: url("./assets/fonts/Spartan-Bold.ttf")
  font-weight: 700

:root
  /** Colors */
  --text-color: rgb(58, 58, 58)

  --grid-color: #dddddd
  --light-gray: #fafafa
  --medium-gray: #efefef
  --dark-gray: #cccccc
  --light-text: #a8a8a8
  --success: #86d47f
  --gold: #dbce13
  /* Font family */
  --dashboard-font: "Spartan", serif

  /* Text sizes */
  --small-text: 0.7rem

  /* board size es defineix desde js, pero sempre en aquesta variable.
  // Posar-ho directament als estils inline fa que la llibreria ho sobreescrigui i peti. */
  --board-size: 0

  /* Nice shadow vars - https://www.joshwcomeau.com/shadow-palette/*/
  --shadow-color: 286deg 36% 63%
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.26),0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.26),0.9px 1.8px 2.3px -2.5px hsl(var(--shadow-color) / 0.26)
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.28),0.8px 1.5px 1.9px -0.8px hsl(var(--shadow-color) / 0.28),1.8px 3.7px 4.6px -1.7px hsl(var(--shadow-color) / 0.28),4.4px 8.9px 11.2px -2.5px hsl(var(--shadow-color) / 0.28)
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.26),1.2px 2.4px 3px -0.4px hsl(var(--shadow-color) / 0.26),2.1px 4.3px 5.4px -0.7px hsl(var(--shadow-color) / 0.26),3.5px 7px 8.8px -1.1px hsl(var(--shadow-color) / 0.26),5.5px 11.1px 13.9px -1.4px hsl(var(--shadow-color) / 0.26),8.6px 17.3px 21.7px -1.8px hsl(var(--shadow-color) / 0.26),13.1px 26.2px 33px -2.1px hsl(var(--shadow-color) / 0.26),19.3px 38.5px 48.5px -2.5px hsl(var(--shadow-color) / 0.26)

  --menu-shadow: 0 0 0.5rem var(--dark-gray)
html
  font-size: 12px

body
  margin: 0
  height: 100vh
  overscroll-behavior: contain

p,h1,h2,h3,h4,h5,a,input,li,textarea,button,label,details,summary
  margin: 0
  font-family: var(--dashboard-font)
  color: var(--text-color)
  font-size: 1rem
  box-sizing: border-box
details
  p
    margin-top: 1rem

input
  padding: 0.3rem 0.5rem
ul,menu
  padding: 0
  margin: 0
li
  list-style: none
input
  border-radius: 0.3rem
  border: 1px solid var(--dark-gray)
  &:focus
    outline: 1px solid black
input[type="number"]
  width: 2.7rem
  padding: 0
  padding-left: 0.2rem
input[type="checkbox"]
  padding: 0
  height: 1.2rem
  align-self: center
  &:focus
    outline: none
textarea
  width: 100%
  max-width: 100%
  min-height: 6rem
  box-sizing: border-box
  padding: 0.5rem
  font-size: 0.7rem
  background: none
  &:focus
    outline: 1px solid black
label
  display: flex
  gap: 0.3rem
:is(p,span)
  &.txt_bold
    font-weight: bold

/** Utility classes for texts */
.txt-baskerville
  font-family: 'LibreBaskerville' !important
.txt-raleway
  font-family: 'Raleway' !important
  line-height: 1.5 !important
.txt-ralewayItalic
  font-family: 'RalewayItalic' !important
  line-height: 1.5 !important
.txt-white
  color: white !important
.txt-gray
  color: var(--light-text) !important
.txt-s
  font-size: 0.8rem !important
.txt-n
  font-size: 1rem !important
.txt-l
  font-size: 1.3rem !important
.txt-18
  font-size: 1.8rem !important
.txt-2
  font-size: 2rem !important
.txt-centered
  text-align: center !important
.txt-linethrough
  text-decoration: line-through !important
