<button
  class="node__event"
  type="button"
  [class.node__event--negative]="isNegative"
  [class.node__event--condition]="type === 'condition'"
  [class.node__event--property]="type === 'property'"
  [attr.aria-label]="'Edit event ' + displayTarget + ', ' + displayValue"
  (click)="openModifyEvent = true"
>
  <img
    [src]="type === 'stat' ? '/assets/icons/stat.svg' : type === 'condition' ? '/assets/icons/condition.svg' : '/assets/icons/tag.svg'"
    alt=""
  />
  <span>{{ displayTarget }}</span>
  <strong>{{ displayValue }}</strong>
</button>

@if (openModifyEvent) {
  <div class="node__modifyEvent">
    <polo-node-add-event
      [amount]="amount"
      [type]="type"
      [target]="target"
      [originalTarget]="target"
      [property]="property"
      (onSaveEvent)="saveEvent($event)"
      (onClose)="openModifyEvent = false"
      (onDeleteEvent)="deleteEvent($event)"
      [canBeDeleted]="true"
    ></polo-node-add-event>
  </div>
}
