.options
  position: absolute
  bottom: 0
  right: 0

.boardActions
  position: fixed
  bottom: 1.5rem
  right: 1.5rem
  display: flex
  gap: 0.5rem
  button
    padding-right: 2.5rem
  & .boardActions__export
    background-image: url("/assets/icons/export.svg")
    background-repeat: no-repeat
    background-position: right 0.5rem center
    background-size: 16px
  & .boardActions__run
    background-image: url("/assets/icons/play.svg")
    background-repeat: no-repeat
    background-position: right 0.5rem center
    background-size: 16px
  & .boardActions__save
    background-image: url("/assets/icons/save.svg")
    background-repeat: no-repeat
    background-position: right 0.5rem center
    background-size: 16px
  & .boardActions__waiting
    background-image: url("/assets/icons/waiting.svg")
    background-repeat: no-repeat
    background-position: right 0.5rem center
    background-size: 16px
