.options
  position: absolute
  bottom: 0
  right: 0

.boardActions
  position: fixed
  bottom: 1.5rem
  right: 1.5rem
  display: flex
  gap: 0.5rem
  background-color: #fff
  border-radius: 0.5rem
  padding: 0.5rem 1rem
  box-shadow: var(--menu-shadow)
  button
    padding-right: 2.3rem
  & .boardActions__export
    background-image: url("/assets/icons/export.svg")
    background-repeat: no-repeat
    background-position: right 0.5rem center
    background-size: 16px
  & .boardActions__run
    background-image: url("/assets/icons/play.svg")
    background-repeat: no-repeat
    background-position: right 0.5rem center
    background-size: 16px

polo-menu-top
    position: fixed
    top: 1rem
    right: 1rem
