<div [class.fixedMenu]="fixedMenu" class="menu">
  <nav>
    <header>
      @if (fixedMenu) {
        <polo-profile username="Gerard" userplan="Free"></polo-profile>
        <polo-basic-button
          icon="/assets/icons/chevron-left.svg"
          (click)="toggleMenu()"
        ></polo-basic-button>
      }
    </header>
    @if (!fixedMenu) {
      <polo-profile username="Gerard" userplan="Free"></polo-profile>
    }
    <polo-separator [space]="true"></polo-separator>
    <h2>Your stories</h2>
    <ul>
      @for (story of stories; track story.id) {
        <li
          (click)="loadTree(story.id)"
          [class.active]="story.id === activeStoryId"
        >
          {{ story.name }}
        </li>
      }
      <polo-basic-button
        text="+ Create a story"
        (click)="createNewTree()"
      ></polo-basic-button>
    </ul>
  </nav>
  @if (!fixedMenu) {
    <polo-basic-button
      class="openMenu"
      icon="/assets/icons/hamburger-menu.svg"
      (click)="toggleMenu()"
    ></polo-basic-button>
  }
</div>
