.menu
  position: fixed
  top: 0
  width: 240px
  left: -200px
  transition: 0.2s ease
  &.fixedMenu
    left: 0
  &:hover
    left: 0
  nav
    margin-top: 50px
    box-sizing: border-box
    width: 200px
    background: white
    padding: 1rem
    box-shadow: var(--shadow-elevation-medium)
    transition: 0.4s ease
    border-radius: 1rem
    height: auto
    ul
      display: flex
      flex-direction: column
      gap: 0.5rem
      margin-top: 1rem
      li
        cursor: pointer
        padding: 0.5rem
        background: var(--light-gray)
        border-radius: 7px
        &:hover, &.active
          background: var(--dark-gray)
        &:last-child
          margin-top: 1rem
    header
      display: flex
      justify-content: flex-end
      gap: 0.5rem
      polo-profile
        flex: 1
  &.fixedMenu
    height: 100vh
  &.fixedMenu nav
    margin-top: 0
    border-radius: 0
    height: 100%
.openMenu
  position: fixed
  left: 1rem
  top: 1rem
