<div [class.fixedMenu]="fixedMenu" class="menu">
  <nav>
    <header>
      @if (fixedMenu) {
      <polo-profile></polo-profile>
      <polo-basic-button
        icon="/assets/icons/chevron-left.svg"
        (click)="toggleMenu()"
      ></polo-basic-button>
      }
    </header>
    @if (!fixedMenu) {
    <polo-profile></polo-profile>
    }
    <!--polo-separator [space]="true"></polo-separator-->
    <div class="storiesTitle">
      <h2>Your stories</h2>
      <polo-basic-button
        text="New story"
        [iconSize]="10"
        icon="/assets/icons/plus.svg"
        (click)="createNewTree()"
      ></polo-basic-button>
    </div>
    <ul>
      @for (story of stories; track story.id) {
      <li
        (click)="loadTree(story.id)"
        [class.active]="story.id === activeStory.storyId()"
      >
        {{ story.name }}
      </li>
      }
    </ul>
  </nav>
  @if (!fixedMenu) {
  <polo-basic-button
    class="openMenu"
    icon="/assets/icons/hamburger-menu.svg"
    (click)="toggleMenu()"
  ></polo-basic-button>
  }
</div>
