.menu
  position: sticky
  top: 0
  left: 0
  width: 100%
  background-color: var(--light-gray)
  display: flex
  align-items: center
  padding: 1rem
  gap: 1rem
.allResponses, .timeline
  max-width: 1000px
  margin: auto
  padding: 2rem

table
  width: 100%
  border-collapse: separate
  border-spacing: 0 1em
  tr
    th.stat, td.stat, th.condition, td.condition
      width: 50px
      text-align: center
    th.condition, td.condition
      text-align: center
    th.date, td.date
      width: 150px
      text-align: left
    th.name, td.name
      text-align: left
