.player
  border: 1px solid var(--medium-gray)
  max-width: 200px
  padding: 1rem
  margin: 1rem
  &__data
    display: flex
    justify-content: space-between
    margin-bottom: 1rem
    &__name
      font-weight: 700
  &__stats
    display: flex
    justify-content: space-between
