.menu
  position: sticky
  top: 0
  left: 0
  width: 100%
  background-color: var(--light-gray)
  display: flex
  align-items: center
  padding: 1rem
  gap: 1rem
.statistics
  max-width: 1000px
  margin: auto
  padding: 2rem 0
.table
  display: flex
  flex-direction: column
  gap: 5px
  &__row
    display: flex

.player
  border: 1px solid var(--dark-gray)
  padding: 1rem
  &__data
    display: flex
    justify-content: space-between
    margin-bottom: 1rem
    &__name
      font-weight: 700
  &__stats
    display: flex
    justify-content: space-between
