@if (embedded()) {
  <section class="embeddedEditor richTextEditor" [class.embeddedEditor--bare]="!showToolbar()">
    <ng-container [ngTemplateOutlet]="editorBody" />
  </section>
} @else {
  <dialog #dialog class="focusEditor richTextEditor" [attr.aria-label]="'board.editor.focusOn' | t: { label: label() }"
    (close)="onClosed()" (pointerdown)="onBackdropPointerDown($event)">
    <header class="focusEditor__header">
      <button type="button" [attr.aria-label]="'board.editor.closeFocus' | t" (click)="close()">
        {{ 'board.editor.close' | t }}
      </button>
    </header>
    <ng-container [ngTemplateOutlet]="editorBody" />
  </dialog>
}
<ng-template #editorBody>
  <main class="focusEditor__body">
    @if (showToolbar()) {
      <polo-rich-text-toolbar [target]="this" [embedded]="embedded()" />
    }
    <div #surface class="richTextEditor__surface"></div>
  </main>
</ng-template>
